<div id="crumb-search">
  <div class="wrapper">
    <form class="filters">
      <label for="region">Region</label>
      <select id="region">
        <option>Group and Nationwide</option>
        <option>Nationwide</option>
        <option>Group</option>
        <option>Global</option>
        <option>County Wide</option>
      </select>

      <label for="type">Type</label>
      <select id="type">
        <option>Show all</option>
        <option>Some other type</option>
        <option>Helvetica</option>
        <option>Georgia</option>
      </select>

      <label for="sort">Sort By</label>
      <select id="sort">
        <option>Latest First</option>
        <option>Oldest First</option>
        <option>Alphabetical</option>
        <option>Reverse Alphabetical</option>
      </select>

      <button type="submit">go</button>
    </form>
  </div>
</div>

<article id="content">
  <h1>Latest</h1>
  <ul class="library-list">
    <li>
      <span class="doc"></span>
      <div class="lib-content">
        <h3><a href="/">Title of the document goes here</a></h3>
        <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps...</p>
      </div>
      <div class="meta">
        <p><span>Posted:</span> 5 days ago</p>
        <p>PDF [35kb]</p>
      </div>
    </li>
    <li>
      <span class="link"></span>
      <div class="lib-content">
        <h3><a href="/">My Facebook Group</a></h3>
        <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog...</p>
      </div>
      <div class="meta">
        <p><span>Posted:</span> 5 days ago</p>
        <p><a href="/">http://facebook.com/my-fb-group</a></p>
      </div>
    </li>
    <li>
      <span class="image"></span>
      <div class="lib-content">
        <h3><a href="/">Title of the document goes here</a></h3>
        <p>The quick brown fox jumps over the lazy dog.</p>
      </div>
      <div class="meta">
        <p><span>Posted:</span> 5 days ago</p>
        <p>JPG [35kb]</p>
      </div>
    </li>
    <li>
      <span class="map-point"></span>
      <div class="lib-content">
        <h3><a href="/">Title of the document goes here</a></h3>
        <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps...</p>
      </div>
      <div class="meta">
        <p><span>Posted:</span> 5 days ago</p>
        <p>PDF [35kb]</p>
      </div>
    </li>
    <li>
      <span class="cal"></span>
      <div class="lib-content">
        <h3><a href="/">Title of the document goes here</a></h3>
        <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps...</p>
      </div>
      <div class="meta">
        <p><span>Posted:</span> 5 days ago</p>
        <p>PDF [35kb]</p>
      </div>
    </li>
    <li>
      <span class="text"></span>
      <div class="lib-content">
        <h3><a href="/">Title of the document goes here</a></h3>
        <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps...</p>
      </div>
      <div class="meta">
        <p><span>Posted:</span> 5 days ago</p>
        <p>PDF [35kb]</p>
      </div>
    </li>
  </ul>

  <menu class="pagination">
    <ul>
      <li class="prev"><a href="/">Prev</a></li>
      <li><a href="/">1</a></li>
      <li class="active"><a href="/">2</a></li>
      <li><a href="/">3</a></li>
      <li><a href="/">4</a></li>
      <li><a href="/">5</a></li>
      <li class="next"><a href="/">Next</a></li>
    </ul>
  </menu>
</article>

<aside id="sidebar">
  <button class="btn-green">Add Library item</button>
</aside>