%article.note
  - if note.url
    %section.external_url
      = link_to note.url, note.url
  = auto_link simple_format note.body
- if note.location
  %article.map
    #map
    .hidden
      .map-data{"data-center" => location_to_geojson(note.item.location),
        "data-opts" => { feature: item_to_geojson(note.item) }.to_json}
