{
  "extends": "eslint:recommended",
  "globals": {
    "LeafletMap": true,
    "jsonpTransportRequired": true,
    "L": true,
    "Cropper": true,
    "CONSTANTS": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  }
}
