.bundle
.rvmrc
.rbenv-version
.env
db/*.sqlite3
log/*
tmp/
*.pid
*~
*.swp
.sass-cache/
config/database.yml
config/mailboxes.yml
config/secret_token
config/akismet
config/facebook_*
config/twitter_*
config/google_*
config/cyclestreets
config/schedule.yml
public/assets
bin/
solr/data
solr/test/data
solr/development/data
solr/default/data
solr/pids
routes.txt
public/system
.DS_Store
resque_web.url
node_modules/
*.sql
*.sql.gz
.byebug_history

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
