.bundle
.rvmrc
.rbenv-version
db/*.sqlite3
log/*
tmp/
*.pid
.sass-cache/
config/database.yml
config/mailboxes.yml
config/secret_token
config/akismet
config/cyclestreets
public/assets
bin/
solr/
routes.txt
public/system
.DS_Store
resque_web.url
node_modules/
