.tags-panel
  .tags
    %ul
      - issue.tags.each do |tag|
        %li.tag= link_to tag.name, tag_path(tag)
    = link_to t(".edit_tags"), "#", rel: "edit-tags"
  = render partial: "issue/tags/edit", locals: {issue: issue}
