= check_box_tag('collisions')
= label_tag 'collisions', 'Show Collisions'

- m = display_map(issue, geometry_issue_path(issue, :json)) do |map, page|
  - add_collision_layer(map, page)
  %div#map

!= m.to_html

:javascript
  $('#collisions').change(function() {
    map.getLayersByName('Collisions')[0].setVisibility(this.checked);
  });
