:ruby
  zoom = Geo::POINT_ZOOM
  @map = basic_map do |map, page|
    if issue.location.geometry_type == RGeo::Feature::Point
      page << map.setCenter(OpenLayers::LonLat.new(issue.location.x,issue.location.y).transform(projection, map.getProjectionObject()),zoom);
    else
      bbox = RGeo::Cartesian::BoundingBox.new(issue.location.factory)
      bbox.add(issue.location)
      page << map.zoomToExtent(OpenLayers::Bounds.new(bbox.min_x, bbox.min_y, bbox.max_x, bbox.max_y).transform(projection, map.getProjectionObject()))
    end

    locationlayer = MapLayers::JsVar.new('locationlayer')
    protocol = OpenLayers::Protocol::HTTP.new( url: geometry_issue_path(issue, :json), format: :format_plain )
    page.assign(locationlayer, OpenLayers::Layer::Vector.new( "Location",
                                                              protocol: protocol,
                                                              projection: projection,
                                                              styleMap: 'MapStyle.displayStyle()'.to_sym,
                                                              strategies: [OpenLayers::Strategy::Fixed.new() ]))
    page << map.addLayer(locationlayer)
  end

%div#map
!= @map.to_html
