%li{data: leading ? bs_popover(content: "<i class='far fa-user-crown'></i> Discussion leader") : ''}
  - if policy(user).view_profile? && user.profile.picture
    = image_tag user.profile.picture_thumbnail.url
  - if policy(user).view_profile?
    = link_to_profile user
  - else
    = user.display_name_or_anon
  - if leading
    %i{class: "fas fa-fw fa-user-crown"}
