%section.subscribers.box
  %h2= t ".subscribers"
  - if group
    %dl
      %dt.title= t ".owner"
      %dd.title= link_to_profile group
  %ul.thread-metadata-listings
    - subscribers.each do |sub|
      = render "connected_to_thread", user: sub
