-# frozen_string_literal: true

%tr
  %td= link_to filter.id, admin_planning_filter_path(filter)
  %td= filter.authority
  %td= filter.rule
  %td= link_to 'edit', edit_admin_planning_filter_path(filter)
