- map_id = "leaflet-#{dom_id(planning_application)}"
%div{id: map_id}
.hidden
  .map-data{"data-center" => location_to_geojson(planning_application.location),
    "data-opts" => { domid: map_id, feature: item_to_geojson(planning_application) }.to_json}
