%div#map
.hidden
  .map-data{"data-center" => location_to_geojson(current_group.profile.location),
    "data-opts" => { remote: [{name: t("planning_applications.index.planning_applications"), url: all_geometries_planning_applications_path(:json)}] }.to_json}
