- if Authorization::Engine.instance.permit?(:view_profile, object: user, user: recipient)
  - if user.profile.picture
    = image_tag(path_to_url(user.profile.picture_thumbnail.url), alt: I18n.t("user.profiles.show.profile_picture_title", name: user.name))
  %span.name
    = link_to user.name, user_profile_url(user)
- else
  %span.name
    = user.display_name_or_anon
