- if Authorization::Engine.instance.permit?(:view_profile, object: user, user: recipient)
  - if user.profile.picture
    %div{style: "float: left; margin-right: 10px; max-width: 100px; max-height: 100px"}
      = image_tag(path_to_url(user.profile.picture_thumbnail.url), alt: I18n.t("user.profiles.show.profile_picture_title", name: user.name), style: "max-width:100%;max-height:100%"
  %span.name
    = link_to user.name, user_profile_url(user)
- else
  %span.name
    = user.display_name_or_anon
