:javascript
  var geo_field = "#{thing.class.name.underscore}_loc_json"

  function serialize(feature) {
    var str = format.write(feature);
    document.getElementById(geo_field).value = str;
  }

  function feature_added(event) {
    toolbar.deactivate();
    modify.activate();
    clearpanel.activate();
    serialize(event.feature);
  }

  function feature_modified(event) {
    serialize(event.feature);
  }

  function clear_features(event) {
    clearpanel.deactivate();
    modify.deactivate();
    document.getElementById(geo_field).value = "";
    vectorlayer.removeAllFeatures();
    toolbar.activate();
  }

  var styleRules = [new OpenLayers.Rule({
      symbolizer: {"Line" : {strokeWidth: 3}},
      elseFilter: true
      })]
  var styleMap = new OpenLayers.StyleMap();
  styleMap.styles["default"].addRules(styleRules);
  styleMap.styles["select"].addRules(styleRules);

:ruby
  @map = basic_map do |map, page|
    page << map.setCenter(OpenLayers::LonLat.new(@start_location.x, @start_location.y).transform(projection, map.getProjectionObject()),@start_location.z);

    vectorlayer = MapLayers::JsVar.new("vectorlayer")
    page.assign(vectorlayer, OpenLayers::Layer::Vector.new("Vectors", {projection: projection, styleMap: :styleMap}))
    page << map.add_layer(vectorlayer)
    toolbar = MapLayers::JsVar.new("toolbar")
    page.assign(toolbar, OpenLayers::Control::EditingToolbar.new(vectorlayer))
    page << map.addControl(toolbar)
    modify = MapLayers::JsVar.new("modify")
    page.assign(modify, OpenLayers::Control::ModifyFeature.new(vectorlayer))
    page << map.addControl(modify)

    clearpanel = MapLayers::JsVar.new("clearpanel")
    clearbutton = MapLayers::JsVar.new("clearbutton")
    page.assign(clearpanel, OpenLayers::Control::Panel.new({displayClass: "olControlEditingToolbar"}))
    page.assign(clearbutton, OpenLayers::Control::Button.new({title: "Clear", displayClass: "clearButton", trigger: :clear_features}))
    page << clearpanel.addControls([clearbutton])
    page << map.addControl(clearpanel)
    page << clearpanel.deactivate()
  end

%div#map
!= @map.to_html
:javascript
  vectorlayer.events.on({featureadded: feature_added});
  vectorlayer.events.on({featuremodified: feature_modified});
  if ( document.getElementById(geo_field).value != '' ) {
    vectorlayer.addFeatures( format.read(document.getElementById(geo_field).value));
    map.zoomToExtent(vectorlayer.features[0].geometry.bounds);
  }
