- [:alert, :notice].each do |type|
  - if flash[type]
    $(".flash-container").html("<div class='flash #{type}'>#{escape_javascript(flash[type])}</div>")
$(".flash-container").show()
- flash.discard
