%div#map-search
  %span= t ".move_the_map_to"
  %form#map-search-form{ action: "#", method: "get", style: "display:inline", onsubmit: "doSearch(); return false" }
    %input#map-search-query{ type: "text", name: "street", value: "Putney, UK", onfocus: "this.value = (this.value=='Putney, UK')? '' : this.value;" }
    %input{ type: "submit", value: "Go!" }
  %span#map-search-results

:javascript
  var seqid = 0;
  var zoom = 14;

  function parseresult(response,thiscall) {
    if (thiscall == seqid) { // if not, then another search has been made since this one, so ignore
      if ($.isEmptyObject(response.results)) { // nothing found
        $('#map-search-results').text("Sorry, we couldn't find "+response.query);
      } else {
        if ($.isArray(response.results.result)) { // multiple responses
          result = response.results.result[0];
        } else {
          result = response.results.result;
        }
        #{map_id}.setCenter(new OpenLayers.LonLat(result.longitude,result.latitude).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()),zoom);
        $('#map-search-results').text('Showing '+ result.name+' near '+result.near);
      }
    }
  }

  function searchError() {
    $('#map-search-results').text('Sorry, the search failed this time.');
  }

  function doSearch() {
    seqid++;
    var thiscall = seqid;
    params = $('#map-search-form').serialize();
    var req = $.ajax({
        url: '#{GEOCODER_URL}&' + params,
        dataType: 'jsonp',
        timeout: 10000
    });
    req.success(function(response){ parseresult(response, thiscall)});
    req.error(function(response){ searchError()});
    $('#map-search-results').text('searching...');
  }