%menu
  %ul.horizontal
    %li= link_to t(".edit"), edit_user_profile_path(current_user), class: "btn-grey"
    %li= link_to t(".update_account"), edit_user_registration_path, class: "btn-grey"
    %li= link_to t(".my_locations"), user_locations_path, class: "btn-grey"
    %li= link_to t(".edit_preferences"), edit_user_prefs_path, class: "btn-grey"