= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" do
  %i{class: "fa fa-facebook"}
  Sign in with Facebook
%p
= link_to user_twitter_omniauth_authorize_path, class: "btn btn-block btn-social btn-twitter" do
  %i{class: "fa fa-twitter"}
  Sign in with Twitter
%p
