%h1= t(".title")
- if @results.count > 0
  %p= t(".results_found", count: @results.count, query: @query)
  %ul
    - @results.each do |item|
      %li= item.title
- else
  %p= t(".no_results_found", query: @query)
