/* Basic layout */
html, body { height: 100%; }
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  margin: 0;
}
#content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-top: 50px;
  margin-left: 250px;
  padding: 10px;
  max-width: 1300px;
}
#shade {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.158);
  margin-left: -10px;
  margin-top: -10px;
  &.white {
    background-color: rgba(255, 255, 255, 0.897);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    i {
      &.close {
        display: inline-block;
      }
    }
  }
  i {
    &.close {
      display: none;
      position: fixed;
      right: 0;
      padding: 5px;
      margin: 10px 5px;
      font-size: 25px;
      color: #c76a58;
      cursor: pointer;
    }
  }
}
.title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .section-title {
    flex-direction: column;
    flex: 3;
    padding: 10px;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
    h1 {
      margin-right: 20px;
      margin-bottom: 15px;
    }
    & > i {
      &:not(.favourite) {
        font-size: 40px;
        color: $color-pastel-red;
        width: 45px;
        height: 40px;
        line-height: 40px;
      }
    }
    p {
      &.badge {
        background-color: #eeeeee;
        color: $color-pastel-red;
        padding: 10px;
        border-radius: 20px;
        margin: 0 7.5px 0 0;
        font-size: 14px;
        font-weight: 300;
        align-self: center;
      }
    }
  }
  .action-buttons {
    display: flex;
    padding: 10px;
    max-width: 400px;
  }
}
.title-wrapper .section-title h1, .title-wrapper .section-title p.badge {
  display: inline-block;
  width: fit-content;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.main-content {
  flex: 1.9;
  padding: 10px;
  margin-right: 30px;
  position: relative;
  h2 {
    margin-top: 10px;
  }
  &.full-screen {
    margin: 0 10px;
    height: calc(100vh - 300px);
    border-radius: 20px;
    padding: 0;
  }
}
.side-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  max-width: 300px;
  z-index: 101;
}
.show-side-content, .show-map-controls {
  display: none;
  position: fixed;
  bottom: 0;
  right: 5%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px;
  color: white;
  font-size: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: $color-pastel-red;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);
  transition: 0.2s;
  line-height: 1;
  z-index: 98;
}
.show-side-content:hover, .show-map-controls:hover {
  background-color: #c76a58;
}
.show-map-controls, .show-side-content {
  z-index: 102;
}
.unstyled {
  text-decoration: none;
}
.padding {
  padding: 10px;
}
.inline {
  display: inline;
}
.centered {
  align-self: center;
}
.text-centered {
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.full-map {
  width: 100%;
  border-radius: 20px;
}
.map-controls {
  float: right;
  background-color: rgba(255, 255, 255, 0.871);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 0 10px 10px;
  margin: 5px;
  &.left {
    float: left;
  }
  &.absolute {
    position: absolute;
    top: 210px;
  }
  h2 {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
  }
}
#top-menu {
  display: none;
  position: fixed;
  z-index: 98;
  width: 100%;
  height: 75px;
  margin-left: -10px;
  margin-top: -10px;
  background-color: rgba(255, 255, 255, 0.671);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  flex-direction: column;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);
  a {
    display: block;
    margin: auto;
    font-style: italic;
    font-size: 30px;
    h1 {
      margin: 0;
      display: inline-block;
    }
  }
  img {
    width: 30px;
    &.mobile-logo {
      width: 25px;
    }
  }
}
