button {
  &.primary {
    align-self: flex-start;
    width: auto;
    border: none;
    background-color: #eeeeee;
    color: $color-pastel-red;
    border-radius: 20px;
    padding: 6px 15px;
    margin: 5px 7.5px;
    font-weight: bold;
    box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75);
    transition: .1s;
    &:hover {
      background-color: white;
    }
    i {
      padding-left: 10px;
      padding-right: 20px;
    }
  }
  &.disabled {
    opacity: .8;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: not-allowed !important;
  }
  &.social {
    align-self: flex-start;
    display: inline-block;
    width: auto;
    border: none;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 11px;
    font-weight: bold;
    &.twitter {
      background-color: #7ABCFF;
      color: white;
    }
    &.facebook {
      background-color: #7C9EFF;
      color: white;
    }
  }
  &.donate {
    background-color: #FBBE5F;
    color: white;
    &:hover {
      color: #FBBE5F;
    }
  }
}
a {
  &.action {
    display: inline-flex;
    width: 270px;
    flex-direction: row;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    color: $color-green;
    padding: 10px 5px;
    margin: 7.5px 7.5px 7.5px 0;
    cursor: pointer;
    transition: .1s;
    text-decoration: none;
    box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75);
    background-color: #eeeeee;
    &:hover {
      background-color: #FFFFFF;
    }
    .icon {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      align-self: center;
      text-align: center;
      font-size: 25px;
      padding: 0 15px;
    }
    .text {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 4;
      text-decoration: none;
      h2 {
        font-weight: bold;
        margin: 0;
        font-size: 17px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
ul {
  &.unstyled {
    list-style: none;
  }
  &.avatars {
    padding: 0;
    li {
      margin: 6px 0;
      padding: 2.5px 10px 2.5px 15px;
      border: 1px solid transparent;
      border-radius: 20px;
      cursor: pointer;
      a {
        color: black;
        text-decoration: none;
        i {
          margin-top: 12.5px;
          margin-right: 5px;
          float: right;
        }
      }
      &:hover {
        border-color: #eeeeee;
      }
    }
  }
  &.links {
    li {
      margin: 5px 0;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &.tags {
    margin: 5px 0;
    padding: 0;
    li {
      &.tag {
        list-style: none;
        display: inline-block;
        border-radius: 20px;
        border: 1px solid $color-green;
        color: $color-green;
        font-size: 12px;
        opacity: 0.8;
        padding: 2px 5px;
        margin: 0 5px 10px 0;
        transition: 0.2s;
        cursor: pointer;
        a {
          display: inline-block;
          margin: 0;
          padding: 0;
          text-decoration: none;
          color: $color-green;
        }
        &:hover {
          opacity: 1;
          background: rgb(243, 243, 243);
        }
      }
      &.large-tag {
        font-size: 15px;
        opacity: 0.97;
        input {
          font-size: 200%;
        }
        label {
          color: $color-green;
        }
        &::after {
          padding-left: 5px;
          font-family: "Font Awesome 5 Pro";
          font-weight: 400;
          content: "\f057";
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  &.wizard {
    margin: 5px;
    padding: 0;
    height: 35px;
    background-color: transparent;
    text-align: center;
    li {
      display: inline-block;
      border-radius: 20px;
      cursor: pointer;
      h2 {
        display: inline-block;
        border-radius: 100%;
        color: white;
        background-color: #b3b3b3;
        padding: 2.5px;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-left: 10px;
        &.complete {
          background-color: $color-green;
        }
        &.active {
          background-color: $color-red;
        }
      }
      p {
        display: inline-block;
        font-size: 16px;
        margin: 0 20px 0 10px;
      }
      &:hover {
        p {
          text-decoration: underline;
        }
      }
    }
    hr {
      width: 100px;
      margin: 0 auto 5px;
      display: inline-block;
    }
  }
  &.checkboxes {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
i {
  &.wizard-back {
    height: 40px;
    width: 40px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    line-height: 38px;
    font-size: 17px;
    cursor: pointer;
    &:hover {
      background-color: #dfdfdf;
    }
  }
}
.wizard-content {
  padding: 0 50px;
}
.widget {
  border-radius: 20px;
  margin: 10px 0 5px;
  &.standalone {
    width: 300px;
    margin: 20px 30px;
    display: inline-block;
  }
  .title {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);
  }
  h2 {
    padding: 0 15px 0 0;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
  }
  .widget-content {
    padding: 10px;
    &.padded {
      padding: 10px 12.5px;
    }
  }
  input {
    margin-bottom: 0;
  }
  button {
    &.primary {
      margin-bottom: 10px;
    }
  }
}
.widget .title, .widget h2 {
  background-color: #eeeeee;
  color: $color-green;
  font-size: 18px;
  border-radius: 20px;
  padding: 5px 5px 5px 20px;
}
.avatar {
  width: 40px;
}
hr {
  margin: 15px 0;
}
.stylised-or {
  margin: 25px auto;
  text-align: center;
  hr {
    width: 100px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  }
  p {
    display: inline-block;
    border: 1px solid #afafaf;
    border-radius: 100%;
    padding: 2.5px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: -5px;
    line-height: 20px;
  }
}
div {
  &.controls {
    ul {
      &.map-buttons {
        display: flex;
        border-radius: 20px;
        padding: 7.5px;
        margin: 0;
        list-style: none;
        background-color: rgba(255, 255, 255, 0.178);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        margin: 5px;
        width: -webkit-fill-available;
        li {
          flex: 1;
          padding: 10px 0 0 0;
          border-radius: 20px;
          margin: 0 2.5px;
          cursor: pointer;
          &.active {
            background-color: #FFFFFF;
            box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);
          }
          &:hover {
            background-color: #ffffff;
          }
          i {
            display: block;
            text-align: center;
            color: $color-red;
            font-size: 20px;
            margin: 0 auto;
          }
          p {
            text-align: center;
            font-size: 13px;
          }
        }
      }
    }
  }
}
.pagination {
  display: block;
  margin: 15px auto;
  background-color: #EEEEEE;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75);
  a {
    padding: 10px;
    color: $color-green;
    border-radius: 20px;
    &:hover {
      background-color: #FFFFFF;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);
    }
  }
  p {
    display: inline-block;
    color: $color-green;
    padding: 10px;
    margin: 0;
  }
}
