-# frozen_string_literal: true

%a{href: @site_config.twitter_link, class: "twitter-timeline", title: t(".title", application_name: @site_config.application_name), "data-height" => "1023", "data-dnt" => "true"}
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
