<article id="content" class="content-no-sidebar">
  <section id="dashboard-tabs">
    <ul class="tabs styled-tabs">
      <li><a href="#" class="active">My Threads</a></li>
      <li><a href="#">Issues Nearby</a></li>
    </ul>

    <div class="panes">
      <div class="pane">
        <table class="dashboard-threads">
          <tr>
            <td class="cycle-path">
              <h4><a href="/">Planning office discussions</a></h4>
              <p>The title of the issue - class meta?</p>
            </td>
            <td>
              <ul class="content-icon-list">
                <li class="link"><a href="/">James Coleman</a> posted a link. <a href="/">http://www.cyclescape.org/threads/12</a></li>
                <li class="image"><a href="/">James Coleman</a> posted an image. <a href="/">View here</a></li>
                <li class="image"><a href="/">James Coleman</a> posted another image. <a href="/">View here</a></li>
              </ul>
            </td>
            <td class="meta">5 days ago</td>
          </tr>
          <tr>
            <td class="car-parking">
              <h4><a href="/">Planning office discussions</a></h4>
              <p>The title of the issue - class meta?</p>
            </td>
            <td>
              <ul class="content-icon-list">
                <li class="cal"><a href="/">James Coleman</a> posted a deadline <strong>20th January 2012</strong></li>
                <li class="image"><a href="/">James Coleman</a> posted an image. <a href="/">View here</a></li>
              </ul>
            </td>
            <td class="meta">5 days ago</td>
          </tr>
          <tr>
            <td class="cycle-parking">
              <h4><a href="/">Planning office discussions</a></h4>
              <p>The title of the issue - class meta?</p>
            </td>
            <td>
              <ul class="content-icon-list">
                <li class="link"><a href="/">James Coleman</a> posted a link. <a href="/">http://www.cyclescape.org/threads/12</a></li>
              </ul>
            </td>
            <td class="meta">5 days ago</td>
          </tr>
          <tr>
            <td class="misc">
              <h4><a href="/">Planning office discussions</a></h4>
              <p>The title of the issue - class meta?</p>
            </td>
            <td>
              <ul class="content-icon-list">
                <li class="link"><a href="/">James Coleman</a> posted a link. <a href="/">http://www.cyclescape.org/threads/12</a></li>
                <li class="image"><a href="/">James Coleman</a> posted an image. <a href="/">View here</a></li>
                <li class="text"><a href="/">James Coleman</a> posted a message. <a href="/">View here</a></li>
              </ul>
            </td>
            <td class="meta">5 days ago</td>
          </tr>
          <tr>
            <td class="obstruction">
              <h4><a href="/">Planning office discussions</a></h4>
              <p>The title of the issue - class meta?</p>
            </td>
            <td>
              <ul class="content-icon-list">
                <li class="link"><a href="/">James Coleman</a> posted a link. <a href="/">http://www.cyclescape.org/threads/12</a></li>
                <li class="map-point"><a href="/">James Coleman</a> posted an map ref. <a href="/">View here</a></li>
              </ul>
            </td>
            <td class="meta">5 days ago</td>
          </tr>
          <tr>
            <td class="planning">
              <h4><a href="/">Planning office discussions</a></h4>
              <p>The title of the issue - class meta?</p>
            </td>
            <td>
              <ul class="content-icon-list">
                <li class="link"><a href="/">James Coleman</a> posted a link. <a href="/">http://www.cyclescape.org/threads/12</a></li>
              </ul>
            </td>
            <td class="meta">5 days ago</td>
          </tr>
          <tr>
            <td class="roadworks">
              <h4><a href="/">Planning office discussions</a></h4>
              <p>The title of the issue - class meta?</p>
            </td>
            <td>
              <ul class="content-icon-list">
                <li class="image"><a href="/">James Coleman</a> posted an image. <a href="/">View here</a></li>
                <li class="link"><a href="/">James Coleman</a> posted a link. <a href="/">http://www.cyclescape.org/threads/12</a></li>
                <li class="doc"><a href="/">James Coleman</a> posted a link. <a href="/">http://www.cyclescape.org/threads/12</a></li>
              </ul>
            </td>
            <td class="meta">5 days ago</td>
          </tr>
        </table>
        <a href="/" class="read-more-simple">read more</a>
      </div>
    </div>
  </section>

  <div id="dashboard-threads-issues">
    <section id="group-threads">
      <h2>Group Threads</h2>
      <ul class="group-threads-list">
        <li class="green">
          <span></span>
          <a href="/" class="group-link">Cambridge Cycling Campaign</a>
          <div>
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue</p>
          </div>
          <button class="btn-green">Subscribe</button>
        </li>
        <li class="blue">
          <span></span>
          <a href="/" class="group-link">Placeford Cycles</a>
          <div>
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue</p>
          </div>
          <button class="btn-green">Subscribe</button>
        </li>
        <li class="red">
          <span></span>
          <a href="/" class="group-link">Red Branded Group</a>
          <div>
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue</p>
          </div>
          <button class="btn-green">Subscribe</button>
        </li>
      </ul>
      <a href="#" class="read-more-simple">All of my groups</a>
    </section>

    <section id="issues-map">
      <h2>Issues Map</h2>
      <div class="map">
        <%= image_tag("exmap2.png", width: "360", height: "360") %>
        <menu class="map-tools">
          <button class="person">Person</button>
          <button class="zoom">Zoom</button>
        </menu>
      </div>
    </section>
  </div>
</article>