<article id="content">
  <section class="top-box">
    <h1>Cyclescape is a comprehensive online campaigning toolkit to assist cycle campaign groups around the UK. In the words of one supporter, it should be <strong><em>"a hugely important step forward for all cycle campaigning groups"</em></strong>. And you need to write some more here to fill up the space.</h1>
  </section>

  <section class="center-box">
    <h2>Report your cycling related issues here</h2>
    <div class="inner">
      <p>Non-existent cycle paths? Obstructions for cyclists? Lack of cycle parking? Or an example of something done right?</p>
      <a href="/" class="btn-big-green">Report An Issue</a>
    </div>
  </section>

  <section>
    <h2>Latest Discussions</h2>
    <ul class="latest-discussions">
      <li class="cycle-path">
        <h4><a href="/">Planning office discussions</a></h4>
        <p>The title of the issue - class meta?</p>
        <a href="/" class="btn-green">Follow</a>
      </li>
      <li class="car-parking">
        <h4><a href="/">Planning office discussions</a></h4>
        <p>The title of the issue - class meta?</p>
        <a href="/" class="btn-green">Follow</a>
      </li>
      <li class="cycle-parking">
        <h4><a href="/">Planning office discussions</a></h4>
        <p>The title of the issue - class meta?</p>
        <a href="/" class="btn-green">Follow</a>
      </li>
      <li class="obstruction">
        <h4><a href="/">Planning office discussions</a></h4>
        <p>The title of the issue - class meta?</p>
        <a href="/" class="btn-green">Follow</a>
      </li>
      <li class="misc">
        <h4><a href="/">Planning office discussions</a></h4>
        <p>The title of the issue - class meta?</p>
        <a href="/" class="btn-green">Follow</a>
      </li>
      <li class="roadworks">
        <h4><a href="/">Planning office discussions</a></h4>
        <p>The title of the issue - class meta?</p>
        <a href="/" class="btn-green">Follow</a>
      </li>
      <li class="planning">
        <h4><a href="/">Planning office discussions</a></h4>
        <p>The title of the issue - class meta?</p>
        <a href="/" class="btn-green">Follow</a>
      </li>
    </ul>
  </section>
</article>

<aside id="sidebar">
  <section class="homepage-search">
    <form class="main-search-box" role="search">
      <input type="text" placeholder="Search" />
      <button type="submit">Go</button>
    </form>
  </section>

  <section class="homepage-groups">
    <h2>Cyclescape Groups</h2>
    <p>Cyclescape is used by <strong>cycle campaign groups</strong> across the country. <strong>Find groups local to you</strong> and see what they're working to fix.</p>
  </section>

  <section class="homepage-find">
    <h2>Find group by name or postcode</h2>
    <form>
      <label>Your postcode or area</label>
      <input type="text" placeholder="Your postcode or area" />
      <button type="submit">Go</button>
    </form>

    <ul class="group-threads-list">
      <li class="green">
        <span></span>
        <h4><a href="/">Cambridge Cycling Campaign</a></h4>
        <p class="meta">120 members</p>
      </li>
      <li class="blue">
        <span></span>
        <h4><a href="/">Another group name here</a></h4>
        <p class="meta">56 members</p>
      </li>
    </ul>
  </section>

  <section class="twitter">
    <h2>Cyclescape on Twitter</h2>
    <p>In the coming days and weeks we'll be running a 'feature focus' on various parts of Cyclescape, showing how it will help cycle campaigning</p>
    <p class="meta">5 hours ago</p>
    <a href="/" class="btn-grey">Follow</a>
  </section>
</aside>

<article id="how-it-works">
  <h1>How cyclescape works</h1>
  <section class="inner">
    <div class="report">
      <span class="icon"></span>
      <h3>Report cycling issues</h3>
      <p>In the coming days and weeks we'll be running a 'feature focus' on various parts of Cyclescape.</p>
    </div>
    <div class="advice">
      <span class="icon"></span>
      <h3>Get advice from others</h3>
      <p>In the coming days and weeks we'll be running a 'feature focus' on various parts of Cyclescape.</p>
    </div>
    <div class="find">
      <span class="icon"></span>
      <h3>Find similar issues</h3>
      <p>In the coming days and weeks we'll be running a 'feature focus' on various parts of Cyclescape.</p>
    </div>
  </section>
</article>