<%# frozen_string_literal: true
 %>
<article id="content">
  <section class="top-box group-top-box">
    <h1>Cambridge Cycling Campaign was formed in 1995 to provide a voice for cyclists in our area. We aren't a cycling club, but an organisation of volunteers campaigning for the rights of cyclists and promoting cycling in and around Cambridge. We lobby for better conditions for cycling, safer roads, and more people on bikes.</h1>
  </section>

  <section class="group-homepage-tabs">
    <ul class="tabs styled-tabs">
      <li><a href="#" class="active">Our Areas</a></li>
      <li><a href="#">What we're discussing</a></li>
    </ul>

    <div class="panes">
      <div class="pane">
        <div class="map">
          <%= image_tag("exmap6.png", width: "600", height: "440") %>
          <menu class="map-tools">
            <button class="zoom">Zoom</button>
          </menu>
        </div>
      </div>

      <div class="pane">
        <h2>Latest Discussions</h2>
        <ul class="group-latest-discussions">
          <li class="cycle-path">
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue - class meta?</p>
            <a href="/" class="btn-green">Follow</a>
          </li>
          <li class="car-parking">
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue - class meta?</p>
            <a href="/" class="btn-green">Follow</a>
          </li>
          <li class="cycle-parking">
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue - class meta?</p>
            <a href="/" class="btn-green">Follow</a>
          </li>
          <li class="obstruction">
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue - class meta?</p>
            <a href="/" class="btn-green">Follow</a>
          </li>
          <li class="misc">
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue - class meta?</p>
            <a href="/" class="btn-green">Follow</a>
          </li>
          <li class="roadworks">
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue - class meta?</p>
            <a href="/" class="btn-green">Follow</a>
          </li>
          <li class="planning">
            <h4><a href="/">Planning office discussions</a></h4>
            <p>The title of the issue - class meta?</p>
            <a href="/" class="btn-green">Follow</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</article>

<aside id="sidebar">
  <section class="group-homepage-image-search">
    <img src="http://dummyimage.com/330x192" />
    <form class="main-search-box" role="search">
      <input type="text" placeholder="Search" />
      <button type="submit">Go</button>
    </form>
  </section>

  <section class="group-homepage-join">
    <h2>Joining our Cyclescape group</h2>
    <p>To take part in discussions and threads here you will need to join the Cambridge Cycling Campaign first. We can then provide you with access details to this site.</p>
    <a href="/" class="btn-green">Join</a>
  </section>

  <section class="box">
    <h2>Group organisers</h2>
    <ul class="following-thread">
      <li>
        <a href="/">
          <img src="http://dummyimage.com/20x20" class="thumb" />
          <p>James Coleman</p>
        </a>
      </li>
      <li>
        <a href="/">
          <img src="http://dummyimage.com/20x20" class="thumb" />
          <p>Katie Parry</p>
        </a>
      </li>
      <li>
        <a href="/">
          <img src="http://dummyimage.com/20x20" class="thumb" />
          <p>Josh Angell</p>
        </a>
      </li>
    </ul>
    <a href="/">View 11 others</a>
  </section>

  <section class="group-twitter">
    <h2>We're on Twitter</h2>
    <p>In the coming days and weeks we'll be running a 'feature focus' on various parts of Cyclescape, showing how it will help cycle campaigning</p>
    <p class="meta">5 hours ago</p>
    <a href="/" class="btn-grey">Follow</a>
  </section>
</aside>

<article id="how-it-works-group">
  <h1>How cyclescape works</h1>
  <section class="inner">
    <div class="report">
      <span class="icon"></span>
      <h3>Report cycling issues</h3>
      <p>In the coming days and weeks we'll be running a 'feature focus' on various parts of Cyclescape.</p>
    </div>
    <div class="advice">
      <span class="icon"></span>
      <h3>Get advice from others</h3>
      <p>In the coming days and weeks we'll be running a 'feature focus' on various parts of Cyclescape.</p>
    </div>
    <div class="find">
      <span class="icon"></span>
      <h3>Find similar issues</h3>
      <p>In the coming days and weeks we'll be running a 'feature focus' on various parts of Cyclescape.</p>
    </div>
  </section>
</article>
