  <div id="page" role="main">
    <div class="wrapper">
      <article id="content">
        <h1>Flyover subway is closed to cycles</h1>
        
        <div class="categories">
          <p>Categories:</p>
          <ul>
            <li><a href="/">cycle path</a></li>
            <li><a href="/">crossings</a></li>
            <li><a href="/">obstructions</a></li>
          </ul>
      </div>
      
      <div class="meta">
        <p>Created by: <a href="/">supercooljames</a> 5 days ago</p>
      </div>
      
      <section class="intro">
        <div class="readmore">
          <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me  and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me.</p>
          <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal in the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me.</p>
        </div>
        <a href="/" class="read-more-box"><span>read more</span></a>
      </section>

      <section>
        <header>
          <h2>Threads</h2>
          <button>New Thread</button>
        </header>
        <ul class="thread-list">
          <li>
            <div class="reply-count"><span>3</span>replies</div>
            <div class="unread-count"><span>1</span>unread</div>
            <div class="item-content">
              <h4><a href="/">Planning office discussions</a></h4>
              <div class="categories">
                <p>Categories:</p>
                <ul>
                  <li><a href="/">cycle path</a></li>
                  <li><a href="/">crossings</a></li>
                  <li><a href="/">obstructions</a></li>
                </ul>
              </div>
              <div class="meta">
                <p>Created by: <a href="/">supercooljames</a> 5 days ago</p>
              </div>
            </div>
            <div class="permissions">private</div>
          </li>
          <li>
            <div class="reply-count"><span>21</span>replies</div>
            <div class="unread-count"><span>0</span>unread</div>
            <div class="item-content">
              <h4><a href="/">Planning office discussions</a></h4>
              <div class="categories">
                <p>Categories:</p>
                <ul>
                  <li><a href="/">cycle path</a></li>
                  <li><a href="/">crossings</a></li>
                  <li><a href="/">obstructions</a></li>
                </ul>
              </div>
              <div class="meta">
                <p>Created by: <a href="/">supercooljames</a> 5 days ago</p>
              </div>
            </div>
            <div class="permissions">private</div>
          </li>
          <li>
            <div class="reply-count"><span>13</span>replies</div>
            <div class="unread-count"><span>4</span>unread</div>
            <div class="item-content">
              <h4><a href="/">Planning office discussions</a></h4>
              <div class="categories">
                <p>Categories:</p>
                <ul>
                  <li><a href="/">cycle path</a></li>
                  <li><a href="/">crossings</a></li>
                  <li><a href="/">obstructions</a></li>
                </ul>
              </div>
              <div class="meta">
                <p>Created by: <a href="/">supercooljames</a> 5 days ago</p>
              </div>
            </div>
            <div class="permissions">shared</div>
          </li>
        </ul>
      </section>
    </article>

    <aside id="sidebar">
      <button class="btn-green">Follow this issue</button>
      <section id="location">
        <h2>Location</h2>
        <!-- temp -->
        <div class="mini-map">
          <img src="/assets/images/minimap.jpg" />
          <menu class="tools">
            <button class="person">Person</button>
            <button class="zoom">Zoom</button>
          </menu>
        </div>
        <h4>Other local issues</h4>
        <ul class="sidebarlist">
          <li><a href="/">Crossing on Graham Stre
