<article id="content">
  <p class="pre-title">Flyover subway is closed to cycles</p>
  <h1>Planning Office Discussions</h1>
  
  <div class="tags">
    <p>Categories:</p>
    <ul>
      <li><a href="/">cycle path</a></li>
      <li><a href="/">crossings</a></li>
      <li><a href="/">obstructions</a></li>
    </ul>
  </div>
  
  <div class="meta">
    <p>Created by: <a href="/">supercooljames</a> 5 days ago</p>
  </div>
  
  <section id="thread-intro" class="intro">
    <a href="/" class="map"><img src="http://dummyimage.com/210x210" /></a>
    <div class="readmore">
      <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me  and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me.</p>
      <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal in the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me.</p>
    </div>
    <a href="/" class="read-more-box" rel="180"><span>read more</span></a>
  </section>

  <section id="thread-replies">
    <header>
      <h2>Replies</h2>
      <menu class="pagination">
        <ul>
          <li class="prev"><a href="/">Prev</a></li>
          <li><a href="/">1</a></li>
          <li><a href="/">2</a></li>
          <li><a href="/">3</a></li>
          <li><a href="/">4</a></li>
          <li><a href="/">5</a></li>
          <li class="next"><a href="/">Next</a></li>
        </ul>
      </menu>
      <button class="btn-user-colour">New Reply</button>
    </header>
    <ul class="thread">
      <li class="unread">
        <a href="/" class="thumb"><img src="http://dummyimage.com/42x42" /></a>
        <div class="item-content">
          <h4>by: <a href="/">James Coleman</a> 5 days ago</h4>
          <div class="readmore">
            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream.</p>
          </div>
          <a href="/" class="read-more-box"><span>read more</span></a>
          <menu class="tools">
            <ul>
              <li><a href="/">Edit</a></li>
              <li><a href="/">Delete</a></li>
            </ul>
          </menu>
        </div>
      </li>
      <li>
        <a href="/" class="thumb"><img src="http://dummyimage.com/42x42" /></a>
        <div class="item-content">
          <h4>by: <a href="/">James Coleman</a> 5 days ago</h4>
          <div class="readmore">
            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a</p>
          </div>
          <a href="/" class="read-more-box"><span>read more</span></a>
          <menu class="tools">
            <ul>
              <li><a href="/">Edit</a></li>
              <li><a href="/">Delete</a></li>
            </ul>
          </menu>
        </div>
      </li>
      <li>
        <a href="/" class="thumb"><img src="http://dummyimage.com/42x42" /></a>
        <div class="item-content">
          <h4>by: <a href="/">James Coleman</a> 5 days ago</h4>
          <div class="readmore">
            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream.</p>
            <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal in the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me.</p>
          </div>
          <a href="/" class="read-more-box"><span>read more</span></a>
          <menu class="tools">
            <ul>
              <li><a href="/">Edit</a></li>
              <li><a href="/">Delete</a></li>
            </ul>
          </menu>
        </div>
      </li>
    </ul>
    <a href="/" class="load-more">Load More</a>
  </section>

  <section id="reply-box" class="wysiwyg">
    <h2>Add your reply</h2>
    <menu class="tab-nav">
      <ul>
        <li><a href="#text" class="active"><span class="text"></span>Text</a></li>
        <li><a href="#image"><span class="image"></span>Image</a></li>
        <li><a href="#map"><span class="map"></span>Map</a></li>
        <li><a href="#link"><span class="link"></span>Link</a></li>
        <li><a href="#attach"><span class="attach"></span>Attach</a></li>
      </ul>
    </menu>
    <div class="tab-wrapper">
      <form>
        <div id="text" class="tab">
          <h3>Your Message</h3>
          <textarea></textarea>
          <div class="buttons">
            <button type="reset">Cancel</button>
            <button type="submit" class="btn-user-colour">Post</button>
          </div>
        </div>
        <div id="image" class="tab">
          <h3>Upload images</h3>
          <input type="file" multiple />
          <div class="buttons">
            <button type="submit" class="btn-user-colour">Upload</button>
          </div>
        </div>
        <div id="map" class="tab">
          <h3>Select locations</h3>
          <iframe width="590" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/?ie=UTF8&amp;ll=52.500758,-1.901321&amp;spn=0.359057,1.056747&amp;t=m&amp;z=11&amp;vpsrc=6&amp;output=embed"></iframe>
        </div>
        <div id="link" class="tab">
          <h3>Add links</h3>
          <input type="text" class="text-input" />
          <div class="buttons">
            <button type="submit" class="btn-user-colour">Submit</button>
          </div>
        </div>
        <div id="attach" class="tab">
          <h3>Attach files</h3>
          <input type="file" multiple />
          <div class="buttons">
            <button type="submit" class="btn-user-colour">Upload</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</article>

<aside id="sidebar">
  <button class="btn-green">Follow this thread</button>
  <!-- temp -->
  <section class="box">
    <div class="map">
      <%= image_tag("exmap3.png", width: "278") %>
      <menu class="map-tools">
        <button class="person">Person</button>
        <button class="zoom">Zoom</button>
      </menu>
    </div>
  </section>

  <section id="resource-list" class="box">
    <h2>Recommended Resources</h2>
    <ul class="content-icon-list">
      <li class="image">
        <a href="/">2011 National Road Safety</a>
      </li>
      <li class="cal">
        <a href="/">Cycle parking proposal for planning application</a>
      </li>
      <li class="text">
        <a href="/">Recommend guidelines for UK cycle paths</a>
      </li>
      <li class="map-point">
        <a href="/">DiscussionL Make cycle lanes wider</a>
      </li>
      <li class="link">
        <a href="/">Recommend guidelines for UK cycle paths</a>
      </li>
      <li class="doc">
        <a href="/">Recommend guidelines for UK cycle paths</a>
      </li>
    </ul>
    <a href="/" class="fancy-down-arrow">Search library / add library item to thread</a>
  </section>

  <section class="box">
    <form>
      <label>My priority:</label>
      <select>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </form>
  </section>

  <section class="box">
    <h2>Following this thread</h2>
    <dl>
      <dt class="title">Owner</dt>
      <dd class="title">Cambridge Cycling Campaign</dd>
      <dt>Shared</dt>
      <dd>Another cycle club</dd>
    </dl>
    <ul class="following-thread">
      <li>
        <a href="/">
          <img src="http://dummyimage.com/20x20" class="thumb" />
          <p>James Coleman <strong>admin</strong></p>
        </a>
      </li>
      <li>
        <a href="/">
          <img src="http://dummyimage.com/20x20" class="thumb" />
          <p>Katie Parry</p>
        </a>
      </li>
      <li>
        <a href="/">
          <img src="http://dummyimage.com/20x20" class="thumb" />
          <p>Josh Angell</p>
        </a>
      </li>
      <li>
        <a href="/">
          <img src="http://dummyimage.com/20x20" class="thumb" />
          <p>The Uncle</p>
        </a>
      </li>
    </ul>
    <a href="/">View 11 others</a>
  </section>
</aside>