<div id="page" role="main">
  <div class="wrapper">
    <article id="content" class="content-no-sidebar">
      <section id="user-details">
        <header>
          <p class="pre-title">User Profile</p>
          <h1>Cley Davis Jnr</h1>
          <div class="meta"><p>Last logged in: <span>5 days ago</span></p></div>
          <%= image_tag("exuser1.jpg", width: "210", height: "210", class: "profile-pic") %>
          <button>Write Message</button>
        </header>
        
        <dl>
          <dt>Location:</dt>
          <dd>Birmingham</dd>

          <dt>Twitter:</dt>
          <dd><a href="http://twitter.com/cleydavisjr">@cleydavisjr</a></dd>
          
          <dt>Facebook:</dt>
          <dd><a href="http://facebook.com/cley">facebook.com/cley</a></dd>
        </dl>
      </section>

      <section id="user-tabs">
        <nav>
          <ul class="tabs">
            <li><a href="#">My Route</a></li>
            <li><a href="#">My Groups <span class="count">20</span></a></li>
            <li><a href="#">Threads I'm involved with</a></li>
            <li><a href="#" class="active">My Threads</a></li>
            <li><a href="#">My Attachments</a></li>
          </ul>
        </nav>

        <div class="panes">
          <div class="pane">
            <h2>Threads</h2>
            <ul class="thread-list">
              <li>
                <div class="message-count"><span>3</span>replies</div>
                <div class="unread-count"><span>1</span>unread</div>
                <div class="item-content">
                  <h4><a href="/">Planning office discussions</a></h4>
                  <div class="tags">
                    <p>Categories:</p>
                    <ul>
                      <li><a href="/">cycle path</a></li>
                      <li><a href="/">crossings</a></li>
                      <li><a href="/">obstructions</a></li>
                    </ul>
                  </div>
                </div>
                <div class="permissions">private</div>
              </li>
              <li>
                <div class="message-count"><span>21</span>replies</div>
                <div class="unread-count"><span>0</span>unread</div>
                <div class="item-content">
                  <h4><a href="/">Planning office discussions</a></h4>
                  <div class="tags">
                    <p>Categories:</p>
                    <ul>
                      <li><a href="/">cycle path</a></li>
                      <li><a href="/">crossings</a></li>
                      <li><a href="/">obstructions</a></li>
                    </ul>
                  </div>
                </div>
                <div class="permissions">private</div>
              </li>
              <li>
                <div class="message-count"><span>13</span>replies</div>
                <div class="unread-count"><span>4</span>unread</div>
                <div class="item-content">
                  <h4><a href="/">Planning office discussions</a></h4>
                  <div class="tags">
                    <p>Categories:</p>
                    <ul>
                      <li><a href="/">cycle path</a></li>
                      <li><a href="/">crossings</a></li>
                      <li><a href="/">obstructions</a></li>
                    </ul>
                  </div>
                </div>
                <div class="permissions">shared</div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </article>
  </div>
</div>