%header
  %h1= t ".title"
%section
  .tasks
    =link_to t(".new_category"), new_admin_issue_category_path
  %table
    %thead
      %th= t ".name"
    %tbody
      - @categories.each do |category|
        %tr
          %td= category.name
          %td= link_to t(".edit"), [:edit, :admin, category]
