/* Typography */
h1, h2, h3, h4, h5, h6, body, input, select, textarea, label {font-family: 'Helvetica Neue', sans-serif;}
h1 {color: #AC3E27; font-weight: 500;}
h2 {color: #185B3D; font-weight: 500; font-size: 20px; width: fit-content;}
h3 {color: #185B3D; font-size: 20px; margin: 20px 0;}
h3, h4, h5, h6, body, input, select, textarea, label {color: #212322;}
input, select, textarea {font-size: 15px;}
.drop-cap:first-letter {color: #AC3E27;}
.italic {font-style: italic;}
p.light {font-weight: 300;}
p a {color: #AC3E27;}

.drop-cap:first-child:first-letter {color: #AC3E27; float: left; line-height: 41px; padding-top: 4px; padding-right: 8px;}
p.drop-cap:first-child:first-letter {font-size: 46px;}
h3.drop-cap:first-child:first-letter {font-size: 46px; line-height: 30px;}
a.text {color: #AC3E27;}

html.fa-events-icons-loading .fa-fw {display: inline-block; width: 1.28571429em;;}
html.fa-events-icons-loading .fa-fw::before {content: "\00a0";}
html.fa-events-icons-loading body {display: none;}


/* Basic layout */
html, body {height: 100%;}
body {display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; padding: 10px; margin: 0;}
#content {display: flex; flex-direction: column; flex-basis: 100%; flex: 1; margin-top: 50px; margin-left: 250px; padding: 10px; max-width: 1300px;}
#shade {display: none; width: 100%; height: 100%; position: fixed; z-index: 100; -webkit-backdrop-filter: blur(3px); backdrop-filter: blur(3px); background-color:rgba(0, 0, 0, 0.158); margin-left: -10px; margin-top: -10px;}
#shade.white {background-color:rgba(255, 255, 255, 0.897); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px);}
#shade i.close {display: none; position: fixed; right: 0; padding: 5px; margin: 10px 5px; font-size: 25px; color: #c76a58; cursor: pointer;}
#shade.white i.close {display: inline-block;}

.title-wrapper {display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;}
.title-wrapper .section-title {flex-direction: column; flex: 3; padding: 10px; margin-right: 40px; align-items: center; justify-content: center;}
.title-wrapper .section-title h1, .title-wrapper .section-title p.badge {display: inline-block; width: fit-content;}
.title-wrapper .section-title h1 {margin-right: 20px; margin-bottom: 15px;}
.title-wrapper .section-title>i:not(.favourite) {font-size: 40px; color: #AC3E27; width: 45px; height: 40px; line-height: 40px;}
.title-wrapper .section-title p.badge {background-color: #eeeeee; color: #AC3E27; padding: 10px; border-radius: 20px; margin: 0 7.5px 0 0; font-size: 14px; font-weight: 300; align-self: center;}
.title-wrapper .action-buttons {display: flex; padding: 10px; max-width: 400px;}

.content-wrapper {display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;}
.main-content {flex-direction: column; flex: 2; padding: 10px; margin-right: 40px; position: relative;}
.main-content h2 {margin-top: 10px;}
.main-content.full-screen {margin: 0 10px; height: calc(100vh - 300px); border-radius: 20px; padding: 0;}
.side-content {display: flex; flex-direction: column; flex: 1; padding: 10px; max-width: 300px; z-index: 101;}

.show-side-content, .show-map-controls {display: none; position: fixed; bottom: 0; right: 5%; padding: 10px; margin: 10px auto; border-radius: 20px; color: white; font-size: 100%; height: 50px; border: none; outline: none; background-color: #AC3E27; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); transition: 0.2s; line-height: 1; z-index: 98}
.show-side-content:hover, .show-map-controls:hover {background-color: #c76a58;}
.show-map-controls, .show-side-content {z-index: 102;}

.unstyled {text-decoration: none;}
.padding {padding: 10px;}
.inline {display: inline;}
.centered {align-self: center;}
.text-centered {text-align: center;}
.flex {display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;}

.full-map {width: 100%; border-radius: 20px;}
.map-controls {float: right; background-color: rgba(255, 255, 255, 0.871); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); border-radius: 20px; padding: 0 10px 10px; margin: 5px;}
.map-controls.left {float: left;}
.map-controls.absolute {position: absolute; top: 210px;}
.map-controls h2 {padding: 10px; text-align: center; margin: 0 auto;}

#top-menu {display: none; position: fixed; z-index: 98; width: 100%; height: 75px; margin-left: -10px; margin-top: -10px; background-color: rgba(255, 255, 255, 0.671); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); flex-direction: column; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);}
#top-menu a {display: block; margin: auto; font-style: italic; font-size: 30px;}
#top-menu a h1 {margin: 0; display: inline-block;}
#top-menu img {width: 30px;}
#top-menu img.mobile-logo {width: 25px;}


/* Nav */
nav {position: fixed; display: flex; flex-direction: column; background-color: #eeeeee; height: calc(100vh - 30px); max-width: 260px; border-radius: 20px; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75); z-index: 103; min-height: 469px;}
nav hr {color: white; margin: 12.5px 0 12.5px -10px; height: 2px !important; opacity: .6; width: calc(100% + 20px);}
nav .title img {width: 30px; margin-top: -16px;}
nav .title h1 {display: inline; font-style: italic; font-size: 35px;}
nav .title p {font-style: italic; font-size: 14px; color: #AC3E27; margin-left: 35px;}
nav .title a.group {color: #AC3E27;}
nav .title a.group:hover {text-decoration: underline;}
nav i {padding-left: 10px; padding-right: 30px; color: #939393; font-size: 20px; width: 40px; height: 20px; line-height: 20px;}
nav ul {list-style-type: none; padding: 0; margin: 0;}
nav ul a {text-decoration: none;}
nav li {padding: 10px 2.5px; margin: 5px 0; color: #185B3D; border-radius: 20px; font-size: 17px; cursor: pointer;}
nav li.active {background-color: #FFFFFF; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);}
nav li:hover {background-color: #ffffffa6;}
nav select {appearance: none; -webkit-appearance: none; outline: 0; border: none; background-color: #eeeeee; color: #185B3D; font-size: 17px; cursor: pointer; width: 190px; padding: 10px 5px; margin: 2.5px 0; border-radius: 20px;}
nav select:hover {background-color: #ffffffa6;}
nav .unread {display: inline-block; width: 25px; margin-left: 50px; margin-right: 7.5px;}
nav .unread p {margin: 0; border-radius: 100%; background-color: white; color: #AC3E27; font-style: italic; font-weight: 500; border: 1px solid #eeeeee; padding: 0 7px; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75); font-size: 15px;}
nav li.profile {padding: 2px 0;}
nav .padding.bottom {margin-top: auto;}
button#hamburger {display: none; position: fixed; padding: 10px; margin: 0 5px; border-radius: 100%; color: #AC3E27; font-size: 150%; width: 50px; height: 50px; border: none; outline: none; background-color: #FFFFFF; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); transition: 0.2s; line-height: 1; z-index: 98;}
button#hamburger:hover {background-color: #eeeeee;}


/* Search bar */
div.search {position: fixed; z-index: 102; top: 5px; right: 0; margin-right: 15px; margin-left: 15px; height: 49.25px; width: 51.28px; margin-top: 5px; padding: 5px 5px 5px 9.5px; color: #AC3E27; font-size: 25px; font-weight: 300; border-radius: 100%; border: .5px solid rgba(128, 128, 128, 0.199); transition: box-shadow 1s; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); cursor: pointer; background-color: #FFFFFF;}
div.search:hover {background-color: #eeeeee;}
div.search.expanded {box-shadow: 0 0 0 1000px rgba(0,0,0,.3); box-shadow: 0 0 0 100vmax rgba(0,0,0,.3); padding: 5px 15px; width: 75vw; max-width: 1000px; background-color: white; border-radius: 25px;}
div.search.expanded:hover {background-color: white;}
div.search input {-webkit-appearance: none; border: none; outline: none; font-size: 25px; width: calc(100% - 60px); display: none; transition: 1s;}
div.search.expanded input {display: inline; background-color: #FFFFFF;}


/* User login icon */
div.login-button {position: fixed; z-index: 101; top: 5px; right: 80px; margin-top: 5px; padding: 5px 10px; color: #AC3E27; font-size: 25px; font-weight: 300; border-radius: 100%; border: .5px solid rgba(128, 128, 128, 0.199); transition: box-shadow 1s; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); cursor: pointer; background-color: #FFFFFF;}
div.login-button a {color: #AC3E27;}
div.login-button:hover {background-color: #eeeeee;}

/* Filter bar */
input.filter {border: 1px solid #eeeeee; font-size: 20px; padding: 10px 20px; border-radius: 20px; margin: 20px; width: 100%;}
.main-content>input.filter {width: 80%; margin-top: 0;}


/* Geocoder */
div.geocoder {float: left; margin: 10px; padding: 10px 12px; border-radius: 20px; background-color: #FFFFFF; color: #AC3E27; transition: 0.2s; overflow: hidden;}
div.geocoder:hover {background-color: #eeeeee;}
div.geocoder:active {background-color: #d8d8d8;}
div.geocoder i {font-size: 20px; font-weight: 500;}
div.geocoder input {display: none; width: 300px; border-radius: 20px; padding: 0 10px; border: none; outline: none; font-size: 16px;}
div.geocoder.expanded:hover {background-color: #FFFFFF;}
div.geocoder.expanded input {display: inline-block;}
.modal div.geocoder {float: unset; position: absolute; top: 0;}


/* Geocoder autocomplete */
.ui-autocomplete-loading + .loader {display: inline-block;}
.ui-autocomplete {background-color: white; width: 200px; list-style: none; margin: 10px 0 0 0; padding-left: 0; padding-top: 5px; padding: 5px; border-radius: 10px; z-index: 9999;}
.ui-autocomplete li div {list-style: none; margin: 2.5px; padding: 2.5px 10px; border-radius: 20px;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {background-color: #eeeeee;}
.ui-autocomplete li:first-child a {padding-top: 9px;}
.ui-autocomplete li a {padding: 5px 15px 3px; display: block; color: #4d0026;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #fbf6f8; border-radius: 10px;}
.ui-helper-hidden-accessible {display: none;}


/* Generic elements */
button.primary {align-self: flex-start; width: auto; border: none; background-color: #eeeeee; color: #AC3E27; border-radius: 20px; padding: 6px 15px; margin: 5px 7.5px; font-weight: bold; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75); transition: .1s;}
button.primary:hover {background-color: white;}
button.primary i {padding-left: 10px; padding-right: 20px;}
button.disabled {opacity: .8; filter: grayscale(100%); -webkit-filter: grayscale(100%); cursor: not-allowed !important;}
button.social {align-self: flex-start; display: inline-block; width: auto; border: none; background-color: #eeeeee; border-radius: 20px; padding: 5px 10px; margin: 5px; font-size: 11px; font-weight: bold;}
button.social.twitter {background-color: #7ABCFF; color: white;}
button.social.facebook {background-color: #7C9EFF; color: white;}
button.donate {background-color: #FBBE5F; color: white;}
button.donate:hover {color: #FBBE5F;}

a.action {display: inline-flex; width: 270px; flex-direction: row; border: 1px solid #eeeeee; border-radius: 20px; color: #185B3D; padding: 10px 5px; margin: 7.5px 7.5px 7.5px 0; cursor: pointer; transition: .1s; text-decoration: none; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75); background-color: #eeeeee;}
a.action:hover {background-color: #FFFFFF;}
a.action .icon {display: flex; flex-direction: column; flex-basis: 100%; flex: 1; align-self: center; text-align: center; font-size: 25px; padding: 0 15px;}
a.action .text {display: flex; flex-direction: column; flex-basis: 100%; flex: 4; text-decoration: none;}
a.action .text h2 {font-weight: bold; margin: 0; font-size: 17px;}
a.action .text p {font-size: 14px;}

ul.unstyled {list-style: none;}

ul.avatars {padding: 0;}
ul.avatars li a {color: black; text-decoration: none;}
ul.avatars li a i {margin-top: 12.5px; margin-right: 5px; float: right;}
ul.avatars li {margin: 6px 0; padding: 2.5px 10px 2.5px 15px; border: 1px solid transparent; border-radius: 20px; cursor: pointer;}
ul.avatars li:hover {border-color: #eeeeee;}
ul.links li {margin: 5px 0; text-decoration: underline; cursor: pointer;}

ul.tags {margin: 5px 0; padding: 0;}
ul.tags li.tag {list-style: none; display: inline-block; border-radius: 20px; border: 1px solid #185B3D; color: #185B3D; font-size: 12px; opacity: 0.8; padding: 2px 5px; margin: 0 5px 10px 0; transition: 0.2s; cursor: pointer;}
ul.tags li.tag a {display: inline-block; margin: 0; padding: 0; text-decoration: none; color: #185B3D;}
ul.tags li.tag:hover {opacity: 1; background: rgb(243, 243, 243);}
ul.tags li.large-tag {font-size: 15px; opacity: 0.97;}
ul.tags li.large-tag input {font-size: 200%;}
ul.tags li.large-tag label {color: #185B3D;}
ul.tags li.large-tag::after {padding-left: 5px; font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f057";}
ul.tags li.large-tag:last-of-type {margin-bottom: 0;}

ul.wizard {margin: 5px; padding: 0; height: 35px; background-color: transparent; text-align: center;}
ul.wizard li {display: inline-block; border-radius: 20px; cursor: pointer;}
ul.wizard li h2 {display: inline-block; border-radius: 100%; color: white; background-color: #b3b3b3; padding: 2.5px; width: 30px; height: 30px; text-align: center; margin-left: 10px;}
ul.wizard li h2.complete {background-color: #185B3D;}
ul.wizard li h2.active {background-color: #B2412B;}
ul.wizard li p {display: inline-block; font-size: 16px; margin: 0 20px 0 10px;}
ul.wizard li:hover p {text-decoration: underline;}
ul.wizard hr {width: 100px; margin: 0 auto 5px; display: inline-block;}
i.wizard-back {height: 40px; width: 40px; border: 1px solid #eeeeee; border-radius: 20px; line-height: 38px; font-size: 17px; cursor: pointer;}
i.wizard-back:hover {background-color: #dfdfdf;}
.wizard-content {padding: 0 50px;}

ul.checkboxes {list-style: none; margin: 0; padding: 0;}

.widget {border-radius: 20px; margin: 10px 0 5px;}
.widget.standalone {width: 300px; margin: 20px 30px; display: inline-block;}
.widget .title, .widget h2 {background-color: #eeeeee; color: #185B3D; font-size: 18px; border-radius: 20px; padding: 5px 5px 5px 20px;}
.widget .title {box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);}
.widget h2 {padding: 0 15px 0 0; margin: 0; font-weight: normal; font-size: 18px;}
.widget .widget-content {padding: 10px;}
.widget .widget-content.padded {padding: 10px 12.5px;}
.widget input {margin-bottom: 0;}
.widget button.primary {margin-bottom: 10px;}

.avatar {width: 40px;}

hr {margin: 15px 0;}

.stylised-or {margin: 25px auto; text-align: center;}
.stylised-or hr {width: 100px; margin: 0 auto; display: inline-block; text-align: center;}
.stylised-or p {display: inline-block; border: 1px solid #afafaf; border-radius: 100%; padding: 2.5px; width: 30px; height: 30px; text-align: center; margin: -5px; line-height: 20px;}

div.controls ul.map-buttons {display: flex; border-radius: 20px; padding: 7.5px; margin: 0; list-style: none; background-color: rgba(255, 255, 255, 0.178); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); margin: 5px; width: 100%; width: -moz-available; width: -webkit-fill-available; width: fill-available;}
div.controls ul.map-buttons li {flex: 1; padding: 10px 0 0 0; border-radius: 20px; margin: 0 2.5px; cursor: pointer;}
div.controls ul.map-buttons li.active {background-color: #FFFFFF; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04)}
div.controls ul.map-buttons li:hover {background-color: #ffffff;}
div.controls ul.map-buttons li i {display: block; text-align: center; color: #B2412B; font-size: 20px; margin: 0 auto;}
div.controls ul.map-buttons li p {text-align: center; font-size: 13px;}

.pagination {display: block; margin: 15px auto; background-color: #EEEEEE; border-radius: 20px; text-align: center; width: 300px; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75);}
.pagination a {padding: 10px; color: #185B3D; border-radius: 20px;}
.pagination a:hover {background-color: #FFFFFF; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);}
.pagination p {display: inline-block; color: #185B3D; padding: 10px; margin: 0;}


/* Forms */
form input, form textarea {padding: 10px; outline: none; border: 1px solid #eeeeee; border-radius: 20px; margin: 10px 0 5px;}
form .radio, form .category {display: flex; background-color: #f8f6f6; border-radius: 20px; padding: 5px;}
form .radio input, form .radio label {align-self: center;}
form .radio label {margin: 5px 15px 5px 5px;}
form .radio input {margin-left: 5px;}
form .radio .help {transition: .2s; padding: 5px;}
form .radio .help:hover {color: #155437; transform: scale(1.05);}
form>label.decorated {grid-column: 1 / 2; height: 35px; color: #185B3D; font-weight: bold; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); border-radius: 20px; padding: 5px 20px 5px 20px; background-color: #eeeeee;}
form>label.hidden {opacity: 0; height: 0;}
form input[type="submit"] {width: fit-content; border: none; background-color: #eeeeee; color: #AC3E27; border-radius: 20px; padding: 6px 15px; font-weight: bold; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75); transition: .1s;}
form input[type="submit"]:hover {background-color: white;}
form input[type="checkbox"] {margin: 5px}
form div.draganddrop {width: calc(300px + 4px + 4px); height: calc(200px + 4px + 4px); border: 2px dashed gray; border-radius: 20px; overflow: hidden;}
form div.draganddrop p {width: 300px; height: 200px; text-align: center; padding: 15px; color: gray;}
form div.draganddrop input {position: absolute; margin: 0; padding: 0; width: 300px; height: 200px; outline: none; opacity: 0;}
.modal-body input, .modal-body textarea {display: block; width: 100%;}


/* Modal */
.modal-content {border-radius: 20px;}
.modal-content .modal-body.unpadded {padding: 0;}
.modal-content .modal-body button.x {position: absolute; top: 0; right: 0; margin: 10px;}
.modal-content .modal-body button.done {position: absolute; bottom: 0; right: 0;}
.modal-content .modal-body a.original {position: absolute; bottom: 0; right: 0;}


/* Popover */
.popover {border-radius: 20px;}
.popover-body {padding: .75rem;}
.popover-header {margin-top: 0; border-top-left-radius: 20px; border-top-right-radius: 20px;}
ul.popover-avatar, ul.popover-group {list-style: none; padding: 0; margin: 0;}
ul.popover-avatar li img {width: 50px; height: 50px;}
ul.popover-group li {padding: 2.5px 10px; margin: 2.5px; border: 0.5px solid transparent; border-radius: 20px; cursor: pointer;}
ul.popover-group li:hover {border-color: #eeeeee;}
ul.add-content {list-style: none; padding: 0; margin: 0; width: 300px;}
ul.add-content li {padding: 5px 10px; border: 1px solid transparent; border-radius: 20px; display: inline-block; cursor: pointer;}
ul.add-content li:hover {border-color: #185B3D;}



/* iOS style segmented control */
.ios-segmented-control {background: #eeeeee; border-radius: 30px; margin: 5px; padding: 2px; border: none; outline: none; display: grid; grid-auto-flow: column; grid-auto-columns: 1fr; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); cursor: pointer;}
.ios-segmented-control .option {position: relative; cursor: pointer;}
.ios-segmented-control .option:hover input:not(:checked) + label span, .ios-segmented-control .option:active input:not(:checked) + label span, .ios-segmented-control .option:focus input:not(:checked) + label span {transform: scale(1.1);}
.ios-segmented-control .option:active input:not(:checked) + label span {transform: scale(.95);}  
.ios-segmented-control .option label {position: relative; display: block; text-align: center; padding: 3px 0vmin; background: rgba(255,255,255,0); font-weight: 400; color: #287622; font-size: 18px; height: 40px; line-height: 34px; text-overflow: clip; overflow: hidden; cursor: pointer;} 
.ios-segmented-control.small .option label {font-size: 13px;} 
.ios-segmented-control .option label::before, .ios-segmented-control .option label::after {content: ''; width: 1px; background: rgba(142,142,147,.15); position: absolute; top: 14%; bottom: 14%; will-change: background; -webkit-transition: background .3s ease; transition: background .3s ease;}  
.ios-segmented-control .option label::before {left: 0; transform: translateX(-.5px);}  
.ios-segmented-control .option label::after {right: 0; transform: translateX(.5px);}  
.ios-segmented-control .option:first-of-type {grid-column: 1; grid-row: 1; box-shadow: none;}  
.ios-segmented-control .option:first-of-type label::before {opacity: 0;}  
.ios-segmented-control .option:last-of-type label::after {opacity: 0;}
.ios-segmented-control .option input {position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; padding: 0; margin: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; border: none; opacity: 0;}  
.ios-segmented-control .selection {background: #FFFFFF; border: .5px solid rgba(0,0,0,0.04); box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); border-radius: 30px; grid-column: 1; grid-row: 1; z-index: 2; will-change: transform; -webkit-transition: transform .2s ease; transition: transform .2s ease;}  
.ios-segmented-control .option label span {display: block; position: relative; z-index: 2; -webkit-transition: all .2s ease; transition: all .2s ease; will-change: transform;}
.ios-segmented-control .option label span {font-family: 'Font Awesome\ 5 Pro', sans-serif;}
.ios-segmented-control.adjustable-icons .option label span {margin: 10px;}
.ios-segmented-control .option input:checked+label::before, .ios-segmented-control .option input:checked+label::after {background: rgba(142,142,147,.15); z-index: 1;}
.ios-segmented-control .option input:checked+label {cursor: default;}


/* Index */
.index h4 {color: #AC3E27; font-weight: 500; font-size: 38px;}
.index h1 {font-size: 44px; font-style: italic;}
.index .content-wrapper {z-index: 5;}
.index .section-title {background-color: rgba(255, 255, 255, 0.671); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); display: inline-flex; flex-direction: row; border-radius: 20px; padding: 10px 30px; z-index: 50; margin: 10px 12.5px 0;}
.index .section-title h4 {margin-bottom: 0;}
.index .title-wrapper h1 {line-height: 30px;}
.index .section-title h4, .index .title-wrapper h1  {display: inline-block;}
.index .title-wrapper img {width: 60px; margin-right: 20px;}
.index .title-wrapper .section-title {flex: unset;}
.index .jumbotron {background-color: #ac3d27df; color: white; padding: 30px; border-radius: 20px; margin-top: 30px; margin-bottom: 30px; max-width: 1200px; backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px);}
.index .jumbotron p.description {font-size: 20px;}
.index a.action {margin: 10px; border: 1px solid #185B3D; width: 240px; padding-right: 10px; color: black; background-color: white; box-shadow: none; transition: .2s;}
.index a.action:hover {color: #185B3D; transform: scale(1.05);}
.index a.action:hover .text h2 {color: #185B3D;}
.index a.action i {transition: .2s;}
.index a.action:hover i {transform: scale(1.3);}
.index a.action .text {flex: 5;}
.index a.action .text h2 {color: black; font-size: 14px;}
.index a.action .text p {font-size: 13px;}
.index input#groups {width: 100%; padding-left: 50px; margin: 10px 0;}
.index img.flow {position: fixed; top: 0; right: -520px; opacity: 0.8;}
.index a {text-decoration: none;}
.index div.tags {background-color: rgba(255, 255, 255, 0.671); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); display: inline-block; border-radius: 20px; padding: 10px;}
.index ul.tags {list-style: none; max-width: 400px;}
.index ul.tags a {text-decoration: none;}
.index ul.tags li {display: inline-block; border: 1px solid #185B3D; border-radius: 20px; padding: 5px 10px; margin: 7.5px; font-size: small; color: #185B3D; cursor: pointer; transition: 0.2s;}
.index ul.tags li:hover {background-color: rgba(221, 221, 221, 0.787);}


/* Group home page */
.groups .header {height: 300px; width: 100%; border-radius: 20px; background-size: cover; background-position: center center; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75);}
.groups .header .content {width: 100%; height: 100%; background: rgb(150,158,157); background: linear-gradient(180deg, rgba(150,158,157,1) 0%, rgba(150,158,157,0.8785889355742297) 24%, rgba(150,158,157,0.788953081232493) 39%, rgba(255,255,255,0) 100%);; border-radius: 20px; padding: 10px; color: white;}
.groups .header .content h1 {color: white; font-size: 35px;}
.groups .header .content img.logo {margin: 0 20px; width: 50px;}
.groups .header .content .links {display: inline; float: right; padding-right: 10px; margin: 2.5px; font-size: 30px;}
.groups .header .content .links a {color: white; padding: 10px; border: 1px solid transparent; border-radius: 20px; cursor: pointer;}
.groups .header .content .links a:hover {border-color: white;}
.groups .header .minimap {position: relative; float: right; bottom: 100px; right: 50px; height: 200px; width: 200px; border-radius: 20px; background-size: contain; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75);}
.groups #content hr {margin-top: 40px; margin-bottom: 30px; margin-right: 300px;}
.groups #content button.primary {margin: 30px 10px 30px 0;}
.groups #content .side-content {padding-top: 70px;}


/* Discussions */
ul.discussions {padding: 0; margin: 15px 0;}
ul.discussions>h2, ul.deadlines>h2 {display: none; padding: 5px; margin: 5px auto;}
ul.discussions li {display: block; flex-direction: row; flex-wrap: wrap; border-radius: 20px; cursor: pointer; margin: 5px 0;}
ul.discussions li>a {text-decoration: none; display: flex; flex-direction: row; flex-wrap: wrap; border-radius: 20px; cursor: pointer; margin: 5px 0; padding: 0 20px;}
ul.discussions li>a:hover {background: #F6F6F6;}
ul.discussions li div.content {flex-direction: column; align-self: center; flex: 2; padding: 10px;}
ul.discussions li div.content h3 {font-size: 15px;}
ul.discussions li div.content h3, p {margin: 5px 0;}
ul.discussions li div.content p {display: inline-block; line-height: 15px; font-weight: 300; width: fit-content; font-size: 13px; color: black;}
ul.discussions li div.content img {display: inline; padding-left: 20px;}
ul.discussions li div.minimap {flex: 0; padding: 10px; margin: auto;}
ul.discussions li div.minimap .unread {position: absolute; padding-left: 100px;}
ul.discussions li div.minimap .unread p {border-radius: 100%; background-color: white; color: #AC3E27; font-style: italic; font-weight: 500; border: 1px solid #eeeeee; padding: 2px 10px; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75);}
ul.discussions li div.minimap img {border-radius: 20px; width: 120px; height: 120px;}
i.favourite {padding: 10px 20px 10px 10px; align-self: center; font-size: 20px; color: #dbdbdb;}
i.favourite.favourited {color: #FEAE00;}
ul.discussions li:hover i.favourite {color: #feae0054;}
ul.discussions li:hover i.favourite.favourited {color: #FEAE00;}
.discussions .side-content h3 {margin-top: 15px;}
div.location {width: 100px; height: 100px; display: inline-block; margin: 5px;}
div.location img {position: absolute; width: 100px; height: 100px; border-radius: 100%;}
div.location.unchecked img {-webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: 0.7;}
div.location input {position: absolute; margin-top: 77px; font-size: 200%;}
div.location input:not(:checked)::before {display: none;}
div.location i {position: absolute; margin: 73px; padding: 0; font-size: 23px; border-radius: 100%; border: 1px solid transparent; cursor: pointer; color: #AC3E27;}
div.location i:hover {color: #f5310a;}
div.categories input[type="checkbox"] {font-size: 30px; color: #185B3D;}


/* Deadlines */
ul.deadlines {padding: 0; margin: 15px 0;}
ul.deadlines li {display: flex; flex-direction: row; flex-wrap: wrap; border-radius: 20px; cursor: pointer; margin: 5px 0; padding: 10px 0;}
ul.deadlines li:hover {background: #F6F6F6;}
ul.deadlines .date {flex: 2; color: #AC3E27; text-align: center; align-self: center;}
ul.deadlines .date h3, ul.deadlines .date p {display: inline; margin: 0; color: #AC3E27;}
ul.deadlines .date h3 {font-size: 22px;}
ul.deadlines .date p.time {display: block;}
ul.deadlines .content {flex: 5;}
ul.deadlines .content h2 {color: black; font-size: 18px;}
ul.deadlines .content p {margin: 0;}
ul.deadlines .actions {flex: 1; align-self: center; text-align: center;}
ul.deadlines .actions i {padding: 0;}


/* Discussion */
.discussion .content-wrapper {margin-bottom: 40px;}
.discussion i.favourite {padding: 5px;}
.discussion img.minimap {border-radius: 20px; width: 100%; border: 1px solid transparent; cursor: pointer; transition: 0.5s;}
.discussion img.minimap:hover {transform: scale(1.02); box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);}
ul.thread {padding: 0;}
ul.thread li {display: flex; flex-direction: row; flex-wrap: wrap; border-radius: 20px; margin: 5px 0; padding: 10px 0;}
ul.thread li .poster-avatar {flex: 1;}
ul.thread li .content {flex: 15;}
ul.thread li .content, ul.thread li .poster-avatar {padding: 2px 10px;}
ul.thread li .content h3 {margin: 0; padding: 0; font-size: 14px; width: fit-content; display: inline-block;}
ul.thread li .content a.timestamp {font-style: italic; text-decoration: none; font-weight: 300; font-size: 12px; display: inline-block; padding-left: 10px; color: black;}
ul.thread li .content a.timestamp:hover {text-decoration: underline;}
ul.thread li .content .post {font-size: 14px; font-weight: 400;}
ul.thread li .content .post ul {list-style-type: circle; font-size: 14px;}
ul.thread li .content .post ul li {margin: 2.5px 0; padding: 0; display: list-item;}
ul.thread li .content .post div.image {position: relative; display: inline-block;}
ul.thread li .content .post div.image:hover i.expand {background-color: #dddbdb;}
ul.thread li .content .post div.image i {padding: 5px; margin: 5px; border-radius: 20px; background-color: #EEEEEE; transition: .2s; cursor: pointer;}
ul.thread li .content .post div.image i:hover {background-color: #cecece;}
ul.thread li .content .post div.image a {color: #588734;}
ul.thread li .content .post div.image .download {position: absolute; bottom: 0; right: 0;}
ul.thread li .content .post div.image .expand {position: absolute; top: 0; right: 0;}
ul.thread li .content .post div.image:first-of-type {margin-top: 10px;}
ul.thread li .content .post div.image:last-of-type {margin-bottom: 10px;}
ul.thread li .content .post .posted-image {border-radius: 20px; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); width: 200px; max-height: 200px; cursor: pointer; transition: .2s;}
ul.thread li .content .post .posted-image:hover {transform: scale(1.02); filter: brightness(105%) saturate(105%);}
ul.thread li .post-actions {align-self: flex-end; margin: 5px 0 0 auto; text-align: end;}
ul.thread li .post-actions button {border: none; outline: none; background-color: #eeeeee; border: 1px solid transparent; color: #588734; border-radius: 20px; opacity: .85;}
ul.thread li .post-actions button:hover {background-color: white; border-color: #eeeeee; opacity: 1;}
ul.thread li .post-actions button.liked {background-color: #588734; color: white;}
ul.thread li.reply .content {border: 0.5px solid #dbdada; border-radius: 20px; padding: 5px 0 0 0; overflow: hidden;}
ul.thread li.reply:hover {background: none;}
ul.thread li.reply .reply-footer {background-color: #f6f6f6; border-top-left-radius: 25px; border-top-right-radius: 25px; padding: 5px 10px 10px;}
ul.thread li.reply ul.attachments {list-style: none; padding: 0;}
ul.thread li.reply ul.attachments li {border: 0.5px solid #185B3D; border-radius: 20px; display: inline-block; background-color: white; color: #185B3D; padding: 2.5px 10px; margin-right: 5px; cursor: pointer;}
ul.thread li.reply ul.attachments li:not(:last-child):after {padding-left: 5px; font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f057";}
ul.thread li.reply ul.attachments li:hover {background: #f0eeee;}
ul.thread li.reply .post-wrapper .autosave {display: none; font-size: 12px; color: #c0c0c0; margin-right: 20px;}
ul.thread li.load-more {display: block; margin: 10px auto; width: 150px; background-color: #EEEEEE; color: #226244; border-radius: 20px; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75); text-align: center; cursor: pointer;}
ul.thread li.load-more:hover {background-color: #FFFFFF;}
ul.thread li.load-more p {margin: 0; padding: 0; font-size: 13px;}
ul.thread li.load-more i {display: none;}
ul.thread a.add-content {display: inline-block; background-color: white; color: #185B3D; text-decoration: none;}
ul.thread a.add-content i {padding: 0 2.5px;}
ul.thread a.add-content:hover {background: #f0eeee;}
ul.thread .post-wrapper {text-align: right;}
ul.thread #post {display: inline-block; border: 0.5px solid #dbdada; background-color: white; color: #B2412B; outline: none; padding: 6.5px 10px; margin: 5px 0 0; border-radius: 20px; text-decoration: none;}
ul.thread #post:hover {background: #f0eeee;}
.widget .show-more {color: #555555; text-align: center; font-size: 14px; cursor: pointer; border-radius: 20px; width: 120px; margin: 0 auto;}
.widget .show-more:hover {background-color: #eeeeee;}


/* tinymce overrides */
.tox.tox-tinymce {border: none !important;}


/* New discussion */
.new-discussion .main-content form {display: grid; grid-template-columns: 150px 1fr; grid-gap: 17px;}
.new-discussion .main-content input, .new-discussion .main-content textarea {margin: 0;}
.new-discussion .main-content form>input>button {grid-column: 2 / 3;}
.new-discussion .main-content .minimap {height: 150px; width: 150px; border-radius: 20px; text-align: end; border: 1px solid transparent; cursor: pointer;}
.new-discussion .main-content .minimap:hover {box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04);}
.new-discussion .tox-editor-container {border: 1px solid #EEEEEE; border-radius: 20px; padding: 2.5px;}
.new-discussion div.radio {padding: 5px 20px;}
.new-discussion div.category div.widget {margin: 0;}
.new-discussion div.category.tags {background-color: #f8f6f6; border-radius: 20px; padding: 10px;}
.new-discussion div.category.tags p {font-size: 12px; margin-left: 15px;}
.new-discussion div.category.tags input[type="search"] {margin-left: 10px;}
.locationModal img.map {width: 100%;}
.locationModal div.controls {position: absolute; top: 0; right: 0; padding: 20px; width: 300px; border-radius: 20px; background-color: rgba(255, 255, 255, 0.671); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); margin: 5px;}


/* Browse issues */
.browse-issues .map-controls {width: 250px;}
.browse-issues div.controls ul.map-buttons li {padding: 10px 0 10px 0; text-align: center;}
.browse-issues ul.issues {list-style-type: none; margin: 0; padding: 0;}
.browse-issues ul.issues li {display: inline-block; border-radius: 20px; cursor: pointer; margin: 5px 0; max-width: 45%; transition: .2s; min-width: 300px;}
.browse-issues ul.issues li:hover {background: #F6F6F6; }
.browse-issues ul.issues li a {display: flex; cursor: pointer; text-align: left; text-decoration: none;}
.browse-issues ul.issues li a div.minimap {flex: 1; padding: 20px 10px; position: relative;}
.browse-issues ul.issues li a div.minimap .unread {position: absolute; right: 17px;}
.browse-issues ul.issues li a div.minimap .unread p {border-radius: 100%; background-color: white; color: #AC3E27; font-style: italic; font-weight: 500; border: 1px solid #eeeeee; padding: 2px 10px; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75);}
.browse-issues ul.issues li a div.issue-content {flex: 5; padding: 10px; align-self: center;}
.browse-issues ul.issues li a div.minimap img {border-radius: 20px; width: 100px; height: 100px;}
.browse-issues ul.issues li a h2 {border: 1px solid #185B3D; border-radius: 20px; padding: 5px 10px;}
.browse-issues ul.issues li a p {color: black;}
.browse-issues a.embed {color: rgb(105, 105, 105); position: absolute; bottom: 0; right: 0; margin-right: 60px; padding: 5px; background-color: #eeeeeee5; -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); border-radius: 20px;}


/* Issue */
.issue .section-title h1 {color: #185B3D; border: 1px solid #185B3D; border-radius: 20px; padding: 5px 10px 10px; font-size: 30px;}
.issue .title-wrapper textarea {border: none; border-radius: 10px; padding: 2.5px 10px; width: 100%;}
.issue .main-content {max-width: 600px;}
.issue .side-content {width: 250px; max-width: unset;}
.issue .side-content #map {position: fixed; border-radius: 20px; height: calc(100vh - 300px);}
.issue .side-content button {position: fixed; align-self: center; display: block; margin: auto; bottom: 50px;}
.issue.geocoder {position: absolute; top: 0; left: 0;}


/* New idea */
.new-idea #ideamap {height: 100%; min-height: -moz-available; height: -webkit-fill-available; height: fill-available; border-radius: 20px; z-index: 1;}
.new-idea .map-controls {display: none; position: absolute; top: 0; width: 400px; max-height: calc(100vh - 235px); overflow: scroll; z-index: 2;}
.new-idea form input, .new-idea form textarea {background-color: rgba(255, 255, 255, 0.671); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px);}
.new-idea form input {width: 100%; width: -moz-available; width: -webkit-fill-available; width: fill-available;}
.new-idea form textarea {width: 100%;}
.new-idea form .light {font-size: 12px;}
.new-idea form {overflow-y: scroll;}
.new-idea form#content-view {overflow: hidden;}
.new-idea .main-content.full-screen.full-map {height: calc(100vh - 375px);}
.modal-content .modal-body button.done {position: relative; display: block; margin: 30px 10px 0;}
.new-idea .geocoder {position: absolute; right: 5px; top: 5px; z-index: 3;}
.new-idea .leaflet-popup-content img {height: 150px; border-radius: .5em; display: block; margin: 0 auto;}
.new-idea .leaflet-popup-content div.post-actions {display: flex;}
.new-idea .leaflet-popup-content a button {display: block; margin: 10px auto; text-decoration: none;}
.new-idea .leaflet-popup-content a {text-decoration: none;}
.new-idea button.like {background-color: #287622; color: white; border: none; outline: none; border-radius: 20px; padding: 3px 15px; margin: 9px 7.5px; font-weight: bold; box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75); transition: .1s;}
.new-idea button.like:hover {background-color: #348f2d;}
.new-idea div.controls ul.map-buttons li {padding: 10px 0 10px 0; text-align: center;}


/* Library */
ul.library {list-style-type: unstyled; padding-left: 0;}
ul.library a {text-decoration: none;}
ul.library li {display: inline-block; border-radius: 20px; width: 280px; height: 405px; overflow: hidden; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); transition: .1s; margin: 5px 10px; cursor: pointer;}
ul.library li:hover {box-shadow: 2px 6px 12px -7px rgba(0,0,0,0.75);}
ul.library li img {height: 230px; width: 280px;}
ul.library li img.map {height: 100px;}
ul.library li h2 {margin: 10px 5px; padding: 0 5px; color: black; height: 55px;}
.library input.filter {border: 1px solid #eeeeee; font-size: 20px; padding: 10px 20px; border-radius: 20px; margin: 10px 10px 20px; width: 100%;}
.library div.controls ul.map-buttons li {padding: 10px 0 10px 0; text-align: center;}
.library-item img.minimap {border-radius: 20px; width: 100%;}


/* Profile */
.profile .title-wrapper .section-title {flex: unset;}
.profile .website-link {margin: 10px;}
.profile .website-link i {margin-right: 5px;}
.profile img.avatar {width: 100px;}
.profile .widget.standalone:not(:first-of-type) {margin-left: 0;}


/* Create account */
.create-account .main-content {border: 1px solid #eeeeee; border-radius: 20px; max-width: 1000px; margin: 50px auto; padding: 20px}
.create-account ul.wizard {width: auto; margin: 0 auto 50px; display: block;}
.create-account div.social-sign-in img {width: 400px; display: block; margin: 20px auto;}
.create-account h3 {color: #AC3E27; font-size: 30px;}
.create-account .form-floating {display: inline-block;}
.create-account form {text-align: center;}
.create-account input {width: 300px; display: inline-block; margin: 10px;}
.create-account button.next {text-align: center; margin: 15px auto; display: block;}
.create-account .ui-autocomplete {width: 200px !important;}
.signin .main-content a {color: #AC3E27; display: block; margin: 0 auto; text-align: center;}
.signin h3 {font-size: 20px;}


/* Planning applications */
.planning-applications form .radio, form .category {background-color: transparent;}
.planning-applications form .map-controls {max-width: 310px; height: calc(100vh - 310px); overflow: scroll;}
.planning-applications form .category {flex-wrap: wrap;}
.planning-applications form .category .label {padding-right: 30px;}
.planning-applications .widget {margin: 20px 0;}

ul.planning-applications {list-style-type: unstyled; margin: 0; padding: 0;}
ul.planning-applications li {display: flex; border-radius: 20px; overflow: hidden; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); transition: .1s; margin: 10px 0; cursor: pointer;}
ul.planning-applications li:hover {box-shadow: 2px 6px 12px -7px rgba(0, 0, 0, 0.075);}
ul.planning-applications div.issue-content {padding: 5px 10px;}
ul.planning-applications div.minimap {height: 160px;}
ul.planning-applications li img {height: 250px; width: 300px;}
ul.planning-applications li img.map {height: 100px;}
ul.planning-applications li h2 {margin: 10px 5px; padding: 0; color: black; font-size: 15px;}
ul.planning-applications li p {font-size: 13px; margin: 10px 5px 15px;}
ul.planning-applications li p.uid {font-style: italic;}
ul.planning-applications li a {margin: 5px;}
ul.planning-applications li a.convert {display: inline-block; background-color: #185B3D; color: white; padding: 5px 10px; border-radius: 20px; text-decoration: none; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); margin: 5px;}
ul.planning-applications li a.convert:hover {background-color: #39956c;}
ul.planning-applications li a.hide {display: inline-block; background-color: #dfdfdf; color: black; padding: 5px 10px; border-radius: 20px; text-decoration: none; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); margin: 5px;}
ul.planning-applications li a.hide:hover {background-color: #c7c7c7;}
ul.application-types {list-style-type: none; padding: 0; margin: 0;}
ul.application-types li {display: inline-block; padding: 2.5px 15px 2.5px 5px; margin: 2.5px; color: white; border-radius: 20px;}
ul.application-types li label {color: white;}


/* Dark mode */
@media (prefers-color-scheme: dark) {
    #top-menu {background-color: #AC3E27;}
    #top-menu h1 {color: white;}
    #top-menu img {filter: invert(100%);}
    
    h1, h2 {color: #ce5740;}
    h3, h4, h5, h6, body, select, textarea, label {color: white;}
    .drop-cap:first-child:first-letter {color: #ce5740;}

    #shade.white {background-color:rgba(0, 0, 0, 0.558);} 
    
    body {background-color: #2D303E;}
    nav {background-color: #3B3F50;}
    nav i {color: #eeeeee;}
    nav li {color: #eeeeee;}
    nav li.active {background-color: #63646d; box-shadow: 0 3px 8px 0 rgba(170, 170, 170, 0.12), 0 3px 1px 0 rgba(145, 145, 145, 0.04);}
    nav li:hover {background-color: #c0c0c0a6; color: white;}

    div.search, div.login-button {background-color: #63646D; color: white;}
    div.login-button a {color: white;}
    div.search.expanded i {color: #963E2C;}
    div.search.expanded input[type="search"] {margin-top: 0;}
    div.search:hover, div.login-button:hover {background-color: rgb(167, 167, 167);}
    div.search li {color: #963E2C;}

    button.primary {background-color: #ce5740; color: white;}
    button.primary:hover {background-color: #e66d54;}

    form input[type="submit"] {background-color: #ce5740; color: white;}
    form input[type="submit"]:hover {background-color: #e66d54;}

    .widget h2 {background-color: #1D8B5A; color: white;}
    .widget .show-more {color: #FFFFFF;}

    .map-controls {color: white;}
    .map-controls {background-color: rgba(29, 3, 3, 0.671)}
    div.controls ul.map-buttons li.active {background-color: #ffffff4d;}
    div.controls ul.map-buttons li:hover {background-color: #ffffff73;}

    ul.tags li.tag {background-color: #1d8b5a; color: white; opacity: 0.8;}
    ul.tags li.tag:hover {opacity: 1; background: #22b170;}
    ul.tags li.large-tag label {color: white;}

    ul.avatars li a {color: white;}

    .ios-segmented-control {background: #3B3F50;}
    .ios-segmented-control .option label {color: white;}
    .ios-segmented-control .selection {background: #63646D;}

    ul.discussions li {background-color: #3B3F50;}
    ul.discussions li div.content p {color: white;}
    ul.discussions li a:hover, ul.deadlines li a:hover {background-color: #5f6169;}
    ul.discussions li div.minimap .unread p {background-color: #ce5740; color: white;}
    ul.deadlines li:hover {background-color: #3a3e50;}

    ul.thread li.reply .content {border: none;}
    ul.thread li .content a.timestamp {color: white;}
    ul.thread li.reply .reply-footer {background-color: #2D303E;}
    ul.thread li.reply ul.attachments li {background-color: #527B36; color: white;}
    ul.thread li.reply ul.attachments li:hover {background-color: #5e8a41;}
    ul.thread a.add-content {background-color: #527B36; color: white;}
    ul.thread a.add-content:hover {background-color: #5e8a41;}

    ul.add-content li {color: white;}
    ul.add-content li:hover {border-color: white;}

    .new-discussion div.category.tags {background-color: #3e4253; color: white;}

    .issue .title-wrapper textarea {background-color: #3e4253; color: white; margin-top: 10px;}

    .widget .title {color: #eeeeee; background-color: #1d8b5a;}

    a.action {background-color: #3B3F50;}
    a.action:hover {background-color: #53586d;}
    a.action p.description, a.action i {color: white;}

    ul.deadlines .content h2 {color: white;}
    ul.deadlines .date h3 {color: #ce5740;}

    ul.thread li .content h3 {color: white;}

    ul.library li h2 {color: white;}
    ul.library li {background-color: #3B3F50;}
    ul.library li:hover {background-color: #6a6e80;}
    .library input.filter {background-color: #3e4253; color: white;}

    div.location i {background-color: #3b3f5046;}
    div.location i:hover {background-color: #787c8fa8;}

    .new-idea form input, .new-idea form textarea {background-color: #3e4253; color: white;}

    ul.planning-applications li h2 {color: white;}
    ul.planning-applications li:hover {background-color: #3B3F50;}

    .browse-issues ul.issues li {text-align: center;}
    .browse-issues ul.issues li:hover {background-color: #5f6169;}
    .browse-issues ul.issues li h2 {background-color: #1d8b5a; color: white;}
    .browse-issues ul.issues li a p {color: white;}

    .index a.action p {color: black;}
    .index a.action i {color: black;}
    .index a.action:hover {background-color: #EEEEEE;}
    .index a.action:hover .text h2 {color: black;}
    .index div.tags {background-color: #2d303e54;}
    .index ul.tags li {background-color: #1d8b5a; color: white; opacity: 0.8;}
    .index ul.tags li:hover {opacity: 1; background: #22b170;}

    .locationModal div.controls {background-color: rgba(54, 54, 54, 0.671);}

    form .radio, form .category {background-color: rgba(54, 54, 54, 0.671);}
    form input, form textarea {background-color: #3e4253; color: white;}
    .new-discussion .main-content form>label {color: #1d8b5a;}


    /* Override Bootstrap */
    .modal-content, .popover {background-color: #262834; color: white;}
    .popover-header {background-color: #2D303E; color: white;}
    .table {color: white;}
    .modal-header .btn-close {color: white !important;}
    ul.popover-group li {color: white;}

}

@media (max-width: 1255px) {
    .browse-issues ul.issues li {max-width: 100%;}
}   

/* Responsive */
@media (max-width: 1200px) {
    ul.discussions>h2, ul.deadlines>h2 {display: block;}
}


@media (min-width: 1001px) and (max-width: 1169px) {
    ul.discussions li i.favourite {display: none;}
}


/* Responsive */
@media (max-width: 1000px) {
    nav {display: none;}
    div.search {z-index: 99;}
    div.login-button {z-index: 98;}
    button#hamburger {display: inline-block;}
    #content {margin-left: 0; margin-top: 60px;}
    #top-menu {display: flex;}
    
    div.location {margin: 5px 2.5px;}
    div.search.expanded {width: 85vw;}
    div.search.expanded input {font-size: 20px;}

    .index img.flow {display: none;}
    .index .section-title img {display: none;}
    .index .section-title {background-color: transparent;}
    .index .title-wrapper .section-title {padding: 0;}
    .index .jumbotron {margin-left: -30px; width: calc(100% + 60px); border-radius: 0;}

    .index div.tags {margin-left: -30px; margin-top: 5px; width: calc(100% + 60px); background-color: #EEEEEE; border-radius: 0;}
    .index ul.tags {width: 100%; max-width: unset;}
    .index ul.tags li {background-color: white;}
    .index .jumbotron {margin-bottom: 5px;}
    .index .jumbotron p.description {font-size: 17px;}
    .index .action-buttons {padding-top: 5px; padding-bottom: 5px;}
    .index .action-buttons i {color: #185B3D;}
}

@media (prefers-color-scheme: dark) and (max-width: 1000px) {
    .index div.tags {background-color: #3E464A;}
    .index a.action {background-color: #676767;}
    .index a.action:hover {background-color: #838282;}
    .index a.action .text h2, .index a.action p, .index a.action i {color: white;}
    .index a.action:hover .text h2 {color: white;}
    .index ul.tags li {background-color: #676767; color: white;}
}

@media (max-width: 992px) {
    .locationModal img.map {height: 100%; border-radius: 0;}
    .locationModal div.controls {padding: 10px; bottom: 0; width: calc(100% - 10px); margin: 5px; top: unset;}
    .locationModal h3.icon.text-centered {display: none;}
}

@media (max-width: 876px) {
    ul.discussions li i.favourite {display: none;}
}


@media (max-width: 768px) {
    body {padding: 5px;}
    #shade {width: calc(100vw + 5px); height: calc(100vh + 5px);}
    .content-wrapper {display: block;}
    .side-content {display: none; position: absolute; top: 0; left: 10%; margin: auto;}
    .show-side-content, .show-map-controls {display: block;}
    .map-controls.absolute {top: 0;}
    .title-wrapper .section-title {margin-right: 0; flex: unset; width: 100%;}
    button.primary i {padding-left: 3px; padding-right: 14px;}

    /* Make sure Leaflet controls don't show through our popups */
    .leaflet-bottom.leaflet-right {z-index: 10 !important;}
    
    #top-menu {height: 65px; width: calc(100vw + 5px);}
    #top-menu h1 {font-size: 20px;}
    
    div.search, div.login-button {margin-top: 0;}
    div.search.expanded input {margin-top: 0;}
    

    .avatar {width: 35px;}

    a.action {width: unset;}

    .widget.standalone {margin: 20px 10px;}
    
    .ios-segmented-control {margin: 10px 5px;}
    .ios-segmented-control .option label {font-size: 16px;}

    .full-map {width: auto;}
    .map-controls {display: none; position: absolute; top: 0; left: 0; margin: auto; margin-top: 40px; z-index: 98; width: calc(100vw - 50px); height: auto;}
    .planning-applications form .map-controls {max-width: unset;}

    #content {padding: 0;}
    #content hr {margin: 5px 0;}

    .index div.action {width: auto;}
    .index input {padding-left: 10px;}
    .index .jumbotron {margin-left: -15px; width: calc(100% + 30px); padding: 15px;}
    .index div.tags {margin-left: -15px; width: calc(100% + 30px);}
    .index .title-wrapper .section-title {display: inline-flex; margin-right: 15px; width: 100%;}

    .groups hr {display: none;}
    .groups .main-content {margin-top: 120px;}

    h3.drop-cap:first-child:first-letter {font-size: 37px; line-height: 31px;}
    .drop-cap:first-child:first-letter {padding-right: 3px;}

    .main-content {margin-right: 0; padding: 0 10px;}
    .discussion .main-content {padding: 0 10px 0 0;}
    
    ul.thread li {display: block; margin: 5px 0; padding: 10px 0;}
    ul.thread li .content, ul.thread li .poster-avatar {padding: 0 4px 0 0;}
    ul.thread li.reply {display: block;}
    ul.thread li.reply .content {max-width: calc(100vw - 5px);}

    ul.discussions li div.content {flex: 1.5; padding: 8px 0 8px 8px;}
    ul.discussions li i.favourite {padding: 5px; display: block;}
    ul.discussions li h3 {font-size: 16px;}
    ul.discussions li div.minimap {padding: 10px 0;}
    ul.discussions li div.minimap img {width: 90px; height: 90px;}
    ul.discussions li div.minimap .unread {padding-left: 30px;}

    .discussion .content-wrapper {padding: 5px; width: calc(100vw - 20px);}
    .discussion p.drop-cap:first-child:first-letter {font-size: 50px;}
    .discussion .drop-cap:first-child:first-letter {line-height: 41px;}

    ul.deadlines .content {padding-left: 10px;}

    .new-discussion .title-wrapper {width: calc(100vw - 20px);}
    .new-discussion .main-content {margin-bottom: 20px;}
    .new-discussion .main-content form {grid-template-columns: unset;}
    .new-discussion .main-content input, .new-discussion .main-content textarea {width: calc(100vw - 40px);}
    .new-discussion .content-wrapper {padding: 5px; width: calc(100vw - 10px);}
    form .radio, form .category {display: block;}
    .new-discussion div.radio, .new-discussion div.category.tags {width: calc(100vw - 40px);}
    .new-discussion div.category.tags input {width: calc(100vw - 80px);}
    .new-discussion div.radio input {width: auto;}

    .browse-issues ul.issues {margin-top: 0;}
    .browse-issues ul.issues li {display: block; max-width: unset;}
    .browse-issues .map-controls {width: unset;}
    .browse-issues .main-content {margin: 0;}
    
    ul.planning-applications li a.convert, ul.planning-applications li a.hide {display: block; text-align: center;}

    .new-idea .map-controls {width: 100vw; max-height: unset;}
    .new-idea .title-wrapper .section-title {flex: 1;}
    .new-idea .show-side-panel {display: none;}

    ul.library {text-align: center;}
    .library input.filter {width: calc(100% - 20px);}

    ul.planning-applications li {display: inline-block; margin: 5px 10px 20px;}
    ul.planning-applications li p {padding: 5px 10px;}
    ul.planning-applications div.minimap {height: auto;}
    ul.planning-applications li img {width: 100%;}
    .planning-applications form .map-controls {height: 100%; width: 100vw;}

    .row {display: block;}

    ul.wizard li p {display: none;}
    ul.wizard hr {width: 30px;}
    .wizard-content {padding: 0 10px;}
    
    .create-account ul.wizard {margin: 10px 0 15px;}
    .create-account .main-content {width: calc(100vw - 10px); margin: 20px auto;}
    .create-account div.social-sign-in img {width: 345px;}
    .signin .main-content {margin: 0 auto;}

    .profile .content-wrapper {padding: 10px; width: calc(100vw - 20px);}
}

@media (max-height: 666px) {
    nav hr {margin: 5px 0 5px -10px;}
    nav li {font-size: 15px; padding: 7.5px 5px;}
    div.search input {font-size: 19px; line-height: 30px;}
    button.primary i {padding-left: 8px; padding-right: 18px;}
    nav {overflow-y: scroll;}
}

@media (max-width: 550px) {
    .index .action-buttons {display: block;}
    .index .action-buttons a.action {width: 93%;}
}

@media (max-width: 414px) {
    .section-title p {font-size: 14px;}
    div.geocoder input {width: 250px; font-size: 15px;}
    ul.discussions div.minimap {display: none;}
    .side-content {width: 100vw;}

    .index #top-menu h1 {display: none;}
    .index .section-title {text-align: center;}
    .index .section-title img {width: 30px;}
    .index .section-title h4 {font-size: 25px;}
    .index .section-title h1 {font-size: 29px;}
    .index p.description {font-size: 16px;}
}

@media (max-width: 375px) {
    .index 
    button.primary {font-size: 12px; font-size: 14px; padding: 5px 8px 5px 12px;}
    nav li {padding: 8px 2.5px;}
    div.search.expanded input {font-size: 15px;}
}

@media (max-width: 330px) {
    .side-content {left: 10px;}
    .widget.standalone {width: 270px;}

}
