#changelog
  %h1 What's New

  %article
    %h2 04/03/2012
    %ul
      %li Issues list in group context only shows issues in that group's area.
      %li Logging in returns the user to the last group they were in.
      %li New thread notifications can be replied to.

  %article
    %h2 24/02/2012
    %ul
      %li Added what's new page.
      %li Added following indicator to main thread lists.
      %li Increased message box size.
      %li Disable voting and message box if you cannot use them.
      %li Fixed bug with invalid tags being entered.
