#changelog
  %h1 What's new?
  %p
    This is a summary of new features added to the site.
    You can see the full development history on
    = t(".github_history_link_html")
  %article
    %h2 01/06/2015
    %ul.bullets
      %li Privacy Updates
      %h3 Before
      %ul
        %li your full name was hidden if you had a display name (apart for admins for groups you requested to join)
        %li your profile was always visible to everyone
      %h3 After
      %ul
        %li users now can see the full name (in the profile) of anyone who is in the same group
        %li if you have profile visibility set to group (in the user preferences) then their profile will not be visible publicly (only to members in one of your groups)

    %h2 01/06/2015
    %ul.bullets
      %li User friendly URLs for profile, location and preferences edit

    %h2 25/05/2015
    %ul.bullets
      %li Add a checkbox for collision data on issue map
      %li Add new group request form
      %li Update Devise (how users log in)

    %h2 03/05/2015
    %ul.bullets
      %li Add Street View message type
      %li Add more missing translations
      %li Paginate popular issues

  %article
    %h2 02/04/2015
    %ul.bullets
      %li Pull Planning Applications from PlanIt
      %li Add local Planning Applications to MyCyclescape
      %li Add Planning Application search and voting to hide

  %article
    %h2 08/03/2015
    %ul.bullets
      %li Add some missing translations
      %li Make message link permanent
      %li Upgrade many libraries

  %article
    %h2 17/04/2014
    %ul.bullets
      %li Fix a bug where thread creators could end up subscribed twice
      %li Ensure that all thread emails mention the thread privacy setting
      %li Add more warnings that all issue information is public
      %li Allow profiles to be hidden from non-group members.

  %article
    %h2 01/04/2014
    %ul.bullets
      %li Line-breaks between quoted text and reply are preserved when posting via email
      %li All "2 months ago" style links now show you the actual date when you hover over them
      %li Style improvement to the group page listing

  %article
    %h2 27/03/2014
    %ul.bullets
      %li Rephrase lots of the working around adding users to groups, to reduce confusion
      %li Users get notified when they are added to a group
      %li Adding library item messages has been fixed

  %article
    %h2 14/03/2014
    %ul.bullets
      %li Cyclescape can now be translated using Transifex
      %li Added lots of functionality for subscribing and unsubscribing from threads when joining/leaving groups, adding/deleting locations and changing preferences

  %article
    %h2 13/12/2013
    %ul.bullets
      %li Support for the tools menu on touchscreens
      %li Add about and userguide links to the header

  %article
    %h2 5/12/2013
    %ul.bullets
      %li Enable users to cancel their accounts and cleanly handle group memberships etc
      %li Allow users to specify a message when asking to join a group - can be used for membership numbers etc

  %article
    %h2 27/11/2013
    %ul.bullets
      %li Add a maximum size for issues
      %li Allow group membership secretaries to review individual membership requests
      %li Allow group membership secretaries to approve individual membership requests via the email notification

  %article
    %h2 22/11/2013
    %ul.bullets
      %li Link to the groups gallery from the front page
      %li Make links in group descriptions clickable on maps and in the compact listing

  %article
    %h2 15/10/2013
    %ul.bullets
      %li Avoid autoscrolling when linking to a specific message
      %li Lots of localisation fixes to support Czech translations

  %article
    %h2 30/9/2013
    %ul.bullets
      %li Support basic threading in message thread email notifications
      %li Fix some broken page titles and missing translations
      %li Allow admins to delete site comments (helps deal with spam)
      %li Add group preferences to control membership request notifications
      %li Create an option for groups to have a membership secretary

  %article
    %h2 31/7/2013
    %ul.bullets
      %li Limit the number of issues shown on your overview
      %li Improvements to the group membership management

  %article
    %h2 13/8/2013
    %ul.bullets
      %li Planning applications now integrated - thanks to a data feed courtesty of OpenlyLocal. Planning applications are listed on the My Cyclescape page, and each can be promoted to an issue like any other.

  %article
    %h2 25/5/2013
    %ul.bullets
      %li Various labelling added around the site to clarify various features
      %li My Cyclescape subscribed threads listing increased to 12 items
      %li Various improvements to administrative area

  %article
    %h2 7/12/2012
    %ul.bullets
      %li Areas are now the default type when adding locations and issues
      %li File sizes are shown for attachments and library documents
      %li Messages can be promoted into library items, depending on the message type
      %li Group descriptions can now contain links and are automatically formatted like messages
      %li Library notes can be edited for a short time after they are created, to fix typos
      %li A new issue (or a new thread) will only generate one notification email, regardless of your settings, groups and locations
      %li The issues map has improvments, making large issues transparent, smaller ones easier to click and highlighting which one is selected

  %article
    %h2 14/11/2012
    %ul.bullets
      %li Fixed the map drawing interface on IE7
      %li Improved layout of the voting buttons on the issue page

  %article
    %h2 09/11/2012
    %ul.bullets
      %li Email attachments sent to a thread will create new photo or attachment messages as appropriate
      %li Fix bugs in the map when editing issues on IE8
      %li Tags are copied from issues onto new threads
      %li Maps on the group pages now only show issue in the group area
      %li Allow tagging of library items when they are being created
      %li Tabs are now "sticky", so if you click 'back' you'll end up on the pane you were looking at
      %li ... and you can also link to a particular tab in the same places
      %li Posting any type of message will subscribe you to the thread
      %li Increased privacy - last poster on a private thread is no longer shown
      %li New "catch me up" feature on user locations - easily subscribe to existing threads in your area
      %li Various minor bugfixes and restylings

  %article
    %h2 18/10/2012
    %ul.bullets
      %li Committee members can now add issues to administrative threads, or change the issue on an existing issue thread
      %li Tags now have autocomplete suggestions - type a few characters to see matching tags
      %li You can link directly to messages more easily - click on the posting time to see the url
      %li Fixed a bug with document creation not giving friendly error messages

  %article
    %h2 05/10/2012
    %ul.bullets
      %li Textareas now automatically resize as they fill up with text, making longer comments easier to write
      %li Duplicate display names are no longer allowed (matching full names are of course permitted)

  %article
    %h2 17/08/2012
    %ul.bullets
      %li Reduce duplicate messages by disabling submit button after posting
      %li Rework the logic for where you end up after signing in - should now handle more situations gracefully
      %li Improvements to message posting speed by making thread search update an asynchronous process
      %li Groups can now have custom joining instructions

  %article
    %h2 01/08/2012
    %ul.bullets
      %li Added a global search, instead of individual thread/issue/library searches
      %li Security updates

  %article
    %h2 24/05/2012
    %ul.bullets
      %li Thread search! Shows results from all public threads and private threads that you have access to
      %li Added a new "User Priorities" tab to the dashboard, showing your prioritised threads
      %li Replying to a new thread notification will now subscribe you to that thread
      %li Added functionality to reply to certain new thread notifications
      %li Fixed bug with subject of new group location issue notifications
      %li Fixed bug with display of attachment messages in some thread summaries
      %li Fixed bug with unsubscribed threads showing up in dashboard

  %article
    %h2 16/05/2012
    %ul.bullets
      %li Complete rework of preferences options. You should check yours now!
      %li Notifications for new issues and new threads on relevant issues
      %li Options to subscribe automatically to all threads
      %li Global option to enable / disable email.
      %li Dashboard shows subscribed threads rather than only those you've posted to
      %li Fixed bug where censored deadlines were showing on dashboard
      %li Show latest thread activity rather than creation details in more places

  %article
    %h2 10/05/2012
    %ul.bullets
      %li Upgrade of underlying Rails technology to the 3.2 series.
      %li Fixed bug with incoming emails. Messages from some people were being lost if they contained £ symbols
      %li Less ugly thread unfollow button

  %article
    %h2 04/05/2012
    %ul.bullets
      %li Added committee-only threads
      %li Show recently popular issues tab on the Issue overview page

  %article
    %h2 30/04/2012
    %ul.bullets
      %li Fixed notification emails for attachment messages
      %li Improved alignment of avatar images

  %article
    %h2 26/04/2012
    %ul.bullets
      %li Collisions layer added to maps on issue pages
      %li Deadline tab added to overview page
      %li Thread activity icons fixed

  %article
    %h2 20/04/2012
    %ul.bullets
      %li Improvements to the display of overlapping issues on the map
      %li Attachments can be added to threads
      %li Fixed bugs with popups not disappearing

  %article
    %h2 04/03/2012
    %ul.bullets
      %li Issues list in group context only shows issues in that group's area.
      %li Logging in returns the user to the last group they were in.
      %li New thread notifications can be replied to.

  %article
    %h2 24/02/2012
    %ul.bullets
      %li Added what's new page.
      %li Added following indicator to main thread lists.
      %li Increased message box size.
      %li Disable voting and message box if you cannot use them.
      %li Fixed bug with invalid tags being entered.
