%h1 Privacy policy
%p
  %em As of 20th June 2015.
%p We are committed to protecting the privacy of users of the site.
%p
  This policy explains what information we gather when you visit our website, and explains
  how that information is used.
%p
  We occasionally update this Policy, so please do return and review this Policy from time to time.
  We also welcome any suggestions for improvements to this policy or its wording.
%h2 Identifying yourself to other users
%p
  We provide privacy controls that enable you to avoid your name being shown publicly on the internet while still
  visible to fellow members in a discussion. These are available on the
  #{link_to 'account details', edit_user_registration_path } page, and consist of two fields:
%ul.bullets
  %li your real name (visible to members of groups you are in); and
  %li an optional display name (for all other situations); if you don't set one, you'll be shown as anonymous.
%p The visibility rule described above is used whenever your name is shown to others, e.g.:
%ul.bullets
  %li next to each posting you make;
  %li in the list of people subscribed to a discussion thread; and
  %li on your user profile.
%p
  As the site is intended for collaborative discussion and working, we think it is helpful to your
  colleagues to use your real name when identifying yourself. Some groups using the site operate
  discussions on a real-names basis, so they may require that you identify yourself by your real name.
%p
  When starting a discussion thread, a group member can choose whether to make the discussion public or
  private to the group. The thread page includes a list of people subscribed to the discussion.
%p
  Note however that administrators of a group always have access to your real name and e-mail address,
  for example so that they can administer the membership list of the group effectively.
%h2 Your user profile
%p
  In order to foster a sense of community, we provide each member of the site with a user profile.
  This shows only the details you have chosen to enter on the
  #{link_to 'Edit my profile', current_user_profile_edit_path } page.
%p
  You can disable your user profile at any time (again via the
  #{link_to 'Edit my profile', current_user_profile_edit_path } page), so that it is not visible to others.
%h2 Cookies
%p
  In common with most websites, this website uses cookies, which are small pieces of information
  that are issued to your computer or other internet-enabled device when you visit the website.
  Cookies are stored by your browser and hard drive and are used to distinguish you from other
  visitors to the site, for example so that you can log in.
%h2 Disclosure and uses of personal information
%p
  We won't share your information with any other organisations for marketing, market research
  or commercial purposes, and we don't pass on your details to other websites.
%p We use information held about you in the following ways:
%ul.bullets
  %li to allow you to participate in interactive features of our service, when you choose to do so
  %li
    to ensure that content from our website is presented in the most effective manner for
    you and for your computer or device by gathering aggregate information about our users
    using it to analyse the effectiveness and popularity of this website
%p We may disclose your personal information to third parties in the following circumstances:
%ul.bullets
  %li if we have obtained your consent to do so
  %li
    when we are required or authorised by law, court order, regulatory or governmental
    authority to disclose your personal data
  %li if required to protect the rights, property or safety of the University of Cambridge, its members or others.
%h2 Data collected
%p
  In common with most websites, this site automatically logs certain information about every
  request made of it (see below for more details). This information is used for system administration,
  for bug tracking, and for producing usage statistics. The logged information may be kept for a
  reasonable period in accordance with the Data Protection Act.
%p
  When you fill in a form on the website, you are consenting to our holding it and using it for
  the purposes for which it was provided.
%p If you contact us, we may keep a record of that correspondence.
%h2 Logged data
%p
  The following data, sent to the website automatically by your web browser, is automatically
  collected for each page request:
%ul.bullets
  %li
    The name or network address of the computer making the request. Note that under
    some (but not all) circumstances it may be possible to infer from this the identity of
    the person making the request. Note also that the data recorded may be that of a web proxy
    rather than that of the originating client
  %li The username, when known during authenticated (logged in) access to the site
  %li The date and time of connection
  %li The HTTP request, which contains the identification of the document requested
  %li The status code of the request (success or failure etc.)
  %li The number of data bytes sent in response
  %li The contents of the HTTP Referrer header supplied by the browser
  %li The content of the HTTP User-Agent header supplied by the browser
%p Logging of additional data may be enabled temporarily from time to time for specific purposes.
%h2 Google Analytics
%p
  In common with many websites, we may make use of Google Analytics to help us analyse site
  usage and to improve it. To support this, selected information about your interaction with the
  site is sent to Google for them to analyse on our behalf.
%p You are not required to accept the Google Analytics cookie, and your web browser includes controls for this.
%p
  For more information about Google Analytics see
  %a{href: "http://www.google.com/analytics/"} http://www.google.com/analytics/
%h2 Hosting
%p Our servers are based in the EU.
%p All server-level access by authorised personnel is by encrypted means.
