%tr
  %td
    = link_to member.name, user_profile_path(member)
  %td
    = link_to t(".edit"), "#"
  %td= link_to t(".delete"), group_membership_path(@group, @group.membership_for(member)), data: { confirm: t(".confirm") }, method: :delete