production: &solr_prod
  solr:
    hostname: localhost
    port: 8983
    log_level: WARNING
    path: /solr/default
    memory: 512M
    read_timeout: 20
    open_timeout: 1
  auto_commit_after_request: false
  auto_commit_after_delete_request: true
  auto_remove_callback: after_commit

staging:
  <<: *solr_prod
  solr:
    port: 8984

development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
    memory: 512M
    path: /solr/development
  auto_commit_after_request: false
  auto_commit_after_delete_request: true
  auto_remove_callback: after_commit

test:
  solr:
    hostname: localhost
    port: 8981
    log_level: WARNING
    path: /solr/test
