#tagcloud

:javascript
  $("#tagcloud").jQCloud([ #{@tags.map { |tag| "{text: '#{tag.name}', weight: #{tag.tag_count}, link: '#{tag_path(tag)}' }" }.join(', ')} ], {
    width: 960,
    height: 700,
  }
  );
