#tagcloud

:javascript
  $("#tagcloud").jQCloud([ #{safe_join(@tags.map { |tag| "{text: '#{tag.name}', weight: #{tag.tag_count}, link: '#{tag_path(tag)}' }".html_safe }, ', ') } ], {
    width: 960,
    height: 700,
  }
  );
