%figure.photo
  = link_to thread_cyclestreets_photo_path(message.thread, component), rel: "#overlay" do
    = image_tag component.photo_preview.url,
        alt: t(".photo_alt", caption: component.caption)
  %figcaption
    = simple_format(component.caption)
