.photo
  = image_tag @cyclestreets_photo.photo_medium.url,
      alt: t(".photo_alt", caption: @cyclestreets_photo.caption)
  %figcaption
    = simple_format @cyclestreets_photo.caption
  %p= link_to t(".view_original"), @cyclestreets_photo.photo.url
