.map-message
  - map_id = "leaflet-#{dom_id(component)}"
  .map-normal-show{id: map_id}
  .hidden
    .map-data{"data-center" => location_to_geojson(component.location),
      "data-opts" => { domid: map_id, hidelayers: true, feature: item_to_geojson(component), hidezoom: true }.to_json}
  %figcaption
    = component.caption

