/* 11. FOOTER
-------------------------------------------------------------- */
#site-footer {
	background: $pane1;
	border-top: 4px solid $colour2;
	height: 260px;
	width:100%;
	#footer-top {
		height: 20px;
		padding: 15px 0;
		border-bottom: 1px solid $grey;
		nav {
			float: left;
			ul {
				@include list-reset;
				overflow: visible;
				li {
					a {
						margin-right: 10px;
						color: $black;
						&.facebook,
						&.twitter {
							text-indent: -999999px;
							width: 26px;
							height: 26px;
							margin-top: -2px;
							background: image-url("social-sprite.png") 0 0 no-repeat;
						}
						&.twitter {
							background-position: -40px 0;
						}
					}
					small {
						color: $lightgrey2;
						a {
							display: inline;
							float: none;
						}
					}
				}
			}
		}
		p {
			float: right;
			color: $lightgrey2;
		}
	}
	#supportlogos {
		clear: both;
		margin-top: 20px;
		opacity: 0.8;
		p {
			color: $lightgrey2;
			margin-bottom: 8px;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline;
				padding: 0;
				margin-right: 10px;
				img {
					border: 1px solid #ccc;
					width: 100px;
					height: 60px;
				}
			}
		}
	}
}

a.back-to-top {
  position: fixed;
  background: image-url("arrow-up-grey.png") right 0 no-repeat;
  bottom: 10px;
  right: 10px;
  padding-right:  18px;
  z-index: 9999;
}
