-# frozen_string_literal: true

.tags
  %ul
    - context.tags.each do |tag|
      %li.tag= link_to tag.name, tag_path(tag)
  - if permitted_to?(:update, auth_context)
    = link_to t(".edit_tags"), "#", rel: "edit-tags"
