/**
 *
 * Displaying collision information, with popups
 *
 */

MapCollisions = {
  collisions_url: "<%= Geo::COLLISIONS_URL %>",
  collisions_key: "<%= Geo::COLLISIONS_API_KEY %>",
  map: null,
  layer: null,

  init: function(m) {
    this.map = m;
    l = new OpenLayers.Layer.Vector("Collisions", {
                      projection: new OpenLayers.Projection("EPSG:4326"),
                      strategies: [new OpenLayers.Strategy.BBOX({resFactor: 3, ratio: 1.5})],
                      styleMap: MapStyle.collisionStyle(),
                      protocol: new OpenLayers.Protocol.Script({
                          url: this.collisions_url,
                          format: new OpenLayers.Format.GeoJSON(),
                          params: {
                              key: this.collisions_key,
                              fields: 'id,latitude,longitude,datetime,severity,url',
                              datetime: 'friendly'
                          },
                          filterToParams: function(filter, params) {
                              // Obtain BBOX as string
                              if (filter.type === OpenLayers.Filter.Spatial.BBOX) {
                                  params.bbox = filter.value.toBBOX();
                              }
                              return params;
                          }
                      })
                  });
    this.layer = l;
    l.setVisibility(false);
    m.addLayer(l);
    m.addControl(new OpenLayers.Control.SelectFeature(l, {id: 'collSelector', onSelect: MapCollisions.createPopup, onUnselect: MapCollisions.destroyPopup }));
    m.getControl('collSelector').activate();
    m.getControl('collSelector').handlers.feature.stopDown = false; // Allow click-drag on polygons to move the map
  },

  createPopup: function(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<h3><a href="' + feature.attributes.url + '">Collision ' + feature.attributes.id + '</a></h3>' +
            '<p>Date and time: ' + feature.attributes.datetime + '</p>' +
            '<p>Severity: ' + feature.attributes.severity + '</p>' +
            '<p><a href="' + feature.attributes.url + '">View full, detailed report at CycleStreets</a></p>',
          null,
          true,
          function() { MapCollisions.map.getControl('collSelector').unselectAll(); this.destroy(); }
      );
      map.addPopup(feature.popup);
  },

  destroyPopup: function(feature) {
      feature.popup.destroy();
      feature.popup = null;
  }
}
