%figure.photo{id: dom_id(message.component)}
  = image_tag message.component.photo_preview.url, title: message.component.caption, alt: t(".photo_alt", caption: message.component.caption)
  %figcaption
    = message.component.caption
