%figure.photo
  = link_to thread_photo_path(component.message.thread, component), rel: "#overlay" do
    = image_tag component.photo_preview.url,
        alt: t(".photo_alt", caption: component.caption)
  %figcaption
    = component.caption
