.dashboard
  %h1== Hello #{@user.full_name}

%section.groups
  - @groups.each do |group|
    %section.group
      %h1= link_to group.name, group
      %p= link_to t(".new_group_thread"), new_group_thread_path(group), class: "button"
      %section.threads
        = render partial: "message_threads/widget", collection: group.threads, as: :thread
