<div id="content">
  <div class="header" style="background-image: url('<%= image_url("placeholders/group-header.jpeg") %>');">
    <div class="content">
      <%= image_tag("placeholders/group-logo.png", class: "logo inline") %>
      <h1 class="inline">Cambridge Cycling Campaign</h1>
      <div class="links">
        <a href="#"><i class="fa fa-fw fa-twitter"></i></a>
        <a href="#"><i class="fa fa-fw fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-fw fa-globe-europe"></i></a>
      </div>
    </div>
    <div class="minimap" style="background-image: url('/images/placeholders/minimap.png');"></div>
  </div>
  <hr>
  <div class="content-wrapper">
    <div class="main-content">
      <p class="light drop-cap">Cambridge Cycling Campaign was formed in 1995 to provide a voice for cyclists
        in Cambridge and the surrounding villages. We aren't a cycling club, but an organisation of
        volunteers campaigning for the rights of cyclists and promoting cycling in and around Cambridge. We
        lobby for better and more convenient conditions for cycling, safer roads, and more people on bikes.
        It is now a charity, registered number 1138098. More information at https://www.camcycle.org.uk</p>
      <a href="create-account.html"><button class="primary">Join our discussions<i
                                            class="fas fa-fw fa-user-plus"></i></button></a>
      <!-- Edit button for group members only -->
      <button class="primary">Edit page<i class="fas fa-fw fa-pencil"></i></button>
      <br>
      <a class="action" href="discussions.html">
        <div class="icon"><i class="fas fa-fw fa-book-open"></i></div>
        <div class="text">
          <h2>View discussions</h2>
          <p class="description">There are 23 new discussions in your area. See what’s going on!</p>
        </div>
      </a>
      <a class="action" href="browse-topics.html">
        <div class="icon"><i class="fas fa-fw fa-rocket"></i></div>
        <div class="text">
          <h2>Browse issues</h2>
          <p class="description">Browse our map to see what's happening in this area.</p>
        </div>
      </a>
    </div>
    <div class="side-content">
      <div class="widget">
        <div class="title">
          <h2><i class="fas fa-fw fa-biking"></i> Committee members</h2>
        </div>
        <div class="widget-content">
          <ul class="unstyled avatars">
            <li><a href="profile.html"><img class="avatar" src="/images/placeholders/avatar1.png" />
                Steve Lopes</a></li>
            <li><a href="profile.html"><img class="avatar" src="/images/placeholders/avatar2.png" />
                Paula Oakenfield</a></li>
            <li><a href="profile.html"><img class="avatar" src="/images/placeholders/avatar3.png" />
                Jimmy Fixer</a></li>
            <li><a href="profile.html"><img class="avatar" src="/images/placeholders/avatar1.png" />
                Steve Lopes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
