// changable colours
$colour1:     #005E00;
$colour2:     #007000;
$colour3:     #619F64; // this needs to be some tinting function (hsla, transparentize, opacify etc)

// group pallete
$green:       #005E00;
$blue:        #29ABE2;
$red:         #E00707;

// $colour1:     #144282;
// $colour2:     #34629B;
// $colour3:     #4A73B0;


// panes (grey!)
$pane1:       #F5F5F5;
$pane2:       #EEEEEE;
$paneborder:  #E6E6E6;

// greys
$grey:        #E6E6E6;
$lightgrey:   #999999;
$lightergrey: #B5B5B5;

$grey2:       #4D4D4D;
$lightgrey2:  #666666;

$grey3:       #8C8C8C;

// blacks
$black:       #1A1A1A;
$lightblack:  #333333;

// white
$white:       #FFFFFF;

// colours
$lightgreen:    #53B431;
$darkgreen:     #2A9700;
$lightred:      #E00707;
$darkred:       #A30404;
$lightblue:     #4175D3;

$leaderpanel:   #EDBB99;
$leaderpanel2:  #E8A87D;
