/* 10. PAGE CONTENT
-------------------------------------------------------------- */
#page {
  background: $white;
  padding: 20px 0 30px;
  overflow-y: hidden;
  min-height: 450px;
  #content {
    width: 630px;
    margin-right: 30px;
    float: left;
    &.content-no-sidebar {
      width: 960px;
      margin-right: 0;
      float: none;
    }
    &.content-wide-sidebar {
      width: 570px;
    }
    div.tags {
      overflow: hidden;
      p {
        font-size: 12px;
        display: inline;
        float: left;
        color: $lightgrey;
        margin: 0 10px 5px 0;
      }
      ul {
        @include list-reset;
        display: inline;
        float: left;
        li {
          a {
            font-size: 12px;
            background: $grey;
            color: $black;
            margin-right: 5px;
            margin-bottom: 2px;
            line-height: 1;
            padding: 4px 6px;
            @include border-radius(5px);
            &:hover {
              text-decoration: none;
              background: $lightergrey;
            }
          }
        }
      }
      // Edit link
      a[rel="edit-tags"] {
        font-size: 12px;
      }
    }
    section {
      header {
        overflow: hidden;
        h2 {
          color: $colour1;
          margin: 0;
          float: left;
        }
        .button {
          float: right;
          @include button-reset-grad-text($colour2, $colour1, $colour2);
        }
      }
      &.intro {
        overflow: hidden;
        margin-bottom: 20px;
        .readmore {
          height: 80px;
          float: left;
        }
        .read-more-box {
          float: right;
          width: 630px;
        }
      }
    }
  }
  #sidebar {
    width: 300px;
    float: left;
    &.wide {
      width: 360px;
    }
    input.btn-green, button.btn-green, input.btn-grey {
      width: 100%;
    }
    .btn-green, .btn-grey {
      display: block;
      margin-bottom:20px;
      padding: 15px;
      text-align: center;
      font: {
        size: 18px;
        weight: bold;
      }
    }
    fieldset.actions {
      padding: 0;
      li {
        float: none;
        padding: 0;
      }
    }
    .subscribe {
      .btn-unsubscribe {
        padding: 5px;
        font: { size: 14px; }
      }
      p > img {
        vertical-align: middle;
      }
    }
    section {
      margin: 0 0 20px 0;
      &.box {
        padding: 10px 0;
        border: 1px solid $paneborder;
        @include border-radius(10px);
        h2, h4, >a, form, .map, >p {
          padding: 0 10px;
        }
        .map .map-tools {
          right:10px;
        }
      }
      h2 {
        font-size: 16px;
        color: $grey3;
      }
      h4 {
        color: $colour1;
        margin-top: 10px;
      }
      >a {
        font-size: 13px;
      }
      form {
        overflow: hidden;
        label {
          margin-top: 4px;
          float: left;
        }
        select {
          display: block;
          float: right;
          width: 130px;
        }
      }
      ul.sidebarlist {
        @include list-reset-soft;
        margin-top: 10px;
        border-top: 1px solid $paneborder;
        li {
          a {
            background: $pane1;
            display: block;
            border-bottom: 1px solid $paneborder;
            color: $lightblack;
            overflow: hidden;
            padding: 10px;
            &:hover{
              text-decoration: none;
              background: $pane2;
            }
          }
        }
      }
      ul.sidebar-threadlist {
        @include list-reset-soft;
        li {
          border-top:3px solid $grey;
          overflow:hidden;
          .meta {
            float:left;
          }
          .permissions {
            float:right;
          }
        }
      }
      dl {
        overflow: hidden;
        margin-bottom: 20px;
        dt, dd {
          float: left;
          width: 60px;
          margin: 0;
          padding: 5px 10px;
          font-weight: normal;
          border-top: 1px solid $white;
          background: $pane1;
          &.title {
            color: $white;
            @include gradient($colour2, $colour1);
            a {
              color: $white;
            }
          }
        }
        dd {
          width: 198px;
        }
      }
      &#resource-list {
        padding-top: 0;
        h2 {
          margin: 0;
          padding: 8px 10px;
          color: $white;
          @include gradient($lightblack, $black);
          @include border-radius(10px 10px 0 0);
        }
        ul.content-icon-list {
          margin-bottom: 10px;
          li {
            padding: 10px 10px 10px 40px;
            border-bottom: 1px solid $paneborder;
            background-color: $pane1;
            background-position:10px 13px;
            &.image {
              background-position:10px 13px;
            }
            &.cal {
              background-position:10px -94px;
            }
            &.link {
              background-position:10px -206px;
            }
            &.text {
              background-position:10px -316px;
            }
            &.map-point {
              background-position:10px -426px;
            }
            &.doc {
              background-position:10px -538px;
            }
          }
        }
      }
      &.twitter,
      &.group-twitter {
        overflow:hidden;
        h2 {
          color:$darkred;
          padding-left:34px;
          background:image-url("sprite.png") -3px -1605px no-repeat;
        }
        p {
          color:$lightgrey2;
          margin-bottom:5px;
          &.meta {
            font: {
              style:italic;
              size:13px;
            }
            color:$lightgrey;
            float:left;
          }
        }
        .btn-grey {
          float:right;
          font-size:12px;
        }
      }
      &.group-twitter {
        h2 {
          color:$colour2;
          background-position: -3px -1741px;
        }
      }
    }
  }
}

/* Thread Page */
#page #content section#thread-intro {
  overflow: hidden;
  margin-bottom: 30px;
  .map {
    float: left;
    margin-right: 20px;
    width: 210px;
  }
  .readmore {
    width: 400px;
    height: 180px;
    float: left;
    margin: 0;
  }
  a.read-more-box {
    width: 400px;
    float: right;
  }
}

#thread-replies {
  header {
    background: $grey;
    padding: 5px;
    text-align: center;
    .pagination {
      @include inline-block;
    }
    button {
      float:right;
    }
  }
}

/* User locations page */
section#user-locations {
  table {
    .tinymap {
      width: 200px;
    }
  }
}


/* User Profile */
#user-details {
  position:relative;
  width:720px;
  margin-left:240px;
  header {
    overflow:visible !important;
    border-bottom:1px solid $paneborder;
    margin-bottom:30px;
    img.profile-pic {
      position:absolute;
      left:-240px;
      top:0;
    }
    button {
      position:absolute;
      top:0;
      right:0;
    }
  }
  dl {
    dt {
      color: $lightgrey;
      float:left;
      width:80px;
      font: {
        style:italic;
        weight:normal;
        size:12px;
      }
      margin-bottom:30px;
    }
    dd {
      color: $grey2;
      float:left;
      width:280px;
      margin-bottom:30px;
    }
  }
}
.user-profile #groups {
  clear:both;
  margin-left:240px;
}
#user-tabs {
  clear:both;
  ul.tabs {
    @include list-reset-soft;
    margin-top:30px;
    width:209px;
    float:left;
    background:$pane1;
    border-top:1px solid $paneborder;
    border-left:1px solid $paneborder;
    border-bottom:1px solid $paneborder;
    @include border-radius(10px 0 0 10px);
    li {
      a {
        position:relative;
        width:159px;
        height:20px;
        padding:10px 40px 10px 10px;
        color:$black;
        font-size:13px;
        border-bottom:1px solid $paneborder;
        &.current {
          background:$white;
          border-right:1px solid $white;
          z-index:2;
          &:hover {
            background:$white;
            cursor:default;
          }
        }
        &:hover {
          text-decoration:none;
          background:$pane2;
        }
        span.count {
          display:block;
          line-height:1;
          font: {
            size:11px;
            weight:bold;
          }
          text-align:center;
          letter-spacing:1px;
          float:right;
          color:$white;
          padding:2px 4px;
          margin-right:-30px;
          background:$grey3;
          border:2px solid $white;
          @include border-radius(10px);
          @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 6px);
        }
      }
      &:first-child a {
        @include border-radius(10px 0 0 0);
      }
      &:last-child a {
        border-bottom:none;
        @include border-radius(0 0 0 10px);
      }
    }
  }
  .panes {
    position:relative;
    z-index:1;
    float:left;
    width:688px;
    padding:30px;
    border:1px solid $paneborder;
    @include border-radius(10px);
    .pane {

    }
  }
}


/* Dashbaord */

#dashboard-tabs {
  .panes {
    .pane {
      a.read-more-simple {
        float:right;
      }
    }
  }
  table.dashboard-threads {
    width:100%;
    tr {
      border-bottom:1px solid $paneborder;
      td {
        padding:10px 0;
        &.meta {
          font: {
            style:italic;
            size:13px;
          }
          color:$lightgrey2;
        }
        &.car-parking {
          padding-left:42px;
          background: image-url("map-icons/m-car-parking.png") 0 10px no-repeat;
        }
        &.cycle-parking {
          padding-left:42px;
          background: image-url("map-icons/m-cycle-parking.png") 0 10px no-repeat;
        }
        &.cycle-path {
          padding-left:42px;
          background: image-url("map-icons/m-cycle-path.png") 0 10px no-repeat;
        }
        &.misc {
          padding-left:42px;
          background: image-url("map-icons/m-misc.png") 0 10px no-repeat;
        }
        &.obstruction {
          padding-left:42px;
          background: image-url("map-icons/m-obstruction.png") 0 10px no-repeat;
        }
        &.planning {
          padding-left:42px;
          background: image-url("map-icons/m-planning.png") 0 10px no-repeat;
        }
        &.roadworks {
          padding-left:42px;
          background: image-url("map-icons/m-roadworks.png") 0 10px no-repeat;
        }
        h4 {
          a {
            color:$black;
          }
        }
        p {
          margin:0;
          color:$lightgrey2;
          font-size:13px;
        }
        ul.content-icon-list {
          li {
            margin-bottom:10px;
            font-size:13px;
            &:last-child {
              margin-bottom:0;
            }
          }
        }
      }
    }
  }
  section.issues {
    p.warning > img {
      float: left;
    }
  }
}

#dashboard-threads-issues {
  clear:both;
  float:left;
  overflow:hidden;
  margin-top:30px;
  h2 {
    padding-bottom:10px;
    border-bottom:3px solid $paneborder;
  }
  #group-threads {
    width:570px;
    margin-right:30px;
    float:left;
    ul.group-threads-list {
      @include list-reset-soft;
      border-bottom:3px solid $paneborder;
      li {
        clear:both;
        overflow:hidden;
        padding:10px 0;
        border-bottom:1px solid $paneborder;
        &:last-child {
          border-bottom:none;
        }
        a.group-link {
          float:left;
          display:block;
          width:200px;
          font-size:12px;
          color:$lightgrey2;
        }
        div {
          margin-left: 230px;
          p {
            margin:0;
            color:$lightgrey2;
            font-size:13px;
          }
        }
        button {
          float:right;
        }
      }
    }
    a.read-more-simple {
      float:right;
      margin-top:10px;
    }
  }
  #issues-map {
    width:360px;
    float:left;
    .map {
      width:360px;
      height:360px;
    }
  }
}

/* Issue/Group List */
#issue-list-header,
#group-list-header {
  oveflow:hidden;
  h1 {
    float:left;
  }
  .btn-big-green {
    float:right;
  }
}
#issue-list-tabs,
#group-list-tabs {
  clear:both;
  .tabs a.list,
  .tabs a.list:hover,
  .tabs a.list.current {
    padding-left:40px;
    padding-right:20px;
    background-image:image-url("sprite.png");
    background-position:5px -1078px;
    background-repeat: no-repeat;
  }
  .tabs a.map-pin,
  .tabs a.map-pin:hover,
  .tabs a.map-pin.current {
    padding-left:40px;
    padding-right:20px;
    background-image:image-url("sprite.png");
    background-position:5px -292px;
    background-repeat: no-repeat;
  }
  .filters {
    .search-box,
    button {
      margin-right:30px;
    }
  }
  .pagination {
    margin:15px 0;
    text-align:center;
    ul {
      @include inline-block;
    }
  }
}

/* User Locations */
#user-locations-header {
  oveflow:hidden;
  .btn-big-green {
    float:right;
  }
}

#user-locations {
  p.warning > img {
    float: left;
  }
}

/* Home Page */
body.home {
  #page {
    background:$white image-url("bg-strip.png") 0 0 repeat-x;
  }
}
#how-it-works {
  margin-top:30px;
  width:960px;
  float:left;
  color:$white;
  h1 {
    font: {
      style:italic;
      weight:bold;
      size:22px;
    }
    color:$grey2;
  }
  .inner {
    overflow:hidden;
    background:$grey2;
    @include background(linear-gradient($grey2, $lightblack));
    h3 {
      color:$white;
      font: {
        size:19px;
        weight:normal;
      }
    }
    >div {
      position:relative;
      width:200px;
      float:left;
      padding:30px 30px 30px 90px;
      background:image-url("sep-grad.png") 300px center no-repeat;
      .icon {
        overflow:visible;
        display:block;
        width:120px;
        height:120px;
        position:absolute;
        left:-20px;
        top:0;
        background:image-url("homepage-icons.png") -30px -60px no-repeat;
      }
      &.report .icon {
        background-position:-30px -60px;
      }
      &.advice .icon {
        background-position:-30px -320px;
      }
      &.find {
        background:none;
        .icon {
          background-position:-30px -590px;
        }
      }
    }
  }
}

.homepage-groups {
  margin:0 !important;
  color:$white;
  padding:15px 15px 15px 60px;
  background:$darkred image-url("homepage-groups-pin.png") 0 0 no-repeat;
  h2 {
    color:$white !important;
  }
  p {
    font-size:12px;
    margin:0;
  }
  /* It's not ideal, but it's better than dark green on red */
  a {
    color: $white !important;
    &:hover {
      color: $white !important;
      border-bottom-color: $white !important;
    }
  }
}

.homepage-search {
  overflow:hidden;
  margin-top:-5px !important;
  .main-search-box {
    float:right;
  }
}

.homepage-find {
  background:$black;
  padding:15px;
  h2 {
    color:$white !important;
  }
  form {
    label {
      position:absolute;
      left:-999999px;
    }
    input {
      font-size:16px;
      padding:6px;
      width:190px;
      border:none;
    }
    button {
      font-size:16px;
      padding:6px 9px;
    }
  }
  ul.group-threads-list {
    @include list-reset-soft;
    li {
      clear:both;
      overflow:hidden;
      padding:10px 0;
      border-bottom:1px solid $paneborder;
      &:last-child {
        border-bottom:none;
      }
      span {
        margin-top:3px;
        border: 2px solid $white;
      }
      h4 {
        margin:0 !important;
        padding-left:30px;
        a {
          color:$white;
        }
      }
      p.meta {
        margin:0;
        padding-left:30px;
        color:$white;
        font-size:12px;
      }
    }
  }
}

/* Group Home Page */
.group-homepage-tabs {
  >.styled-tabs {
    margin-bottom:0;
  }
  >.panes {
    clear:both;
    overflow:hidden;
    padding:13px;
    border-left:1px solid $paneborder;
    border-bottom:1px solid $paneborder;
    border-right:1px solid $paneborder;
    @include border-radius(0 0 10px 10px);
  }
  .area-map .tinymap {
    height: 300px;
  }
}

#how-it-works-group {
  @extend #how-it-works;
  h1 {
    color:$colour2;
  }
  .inner {
    background:$colour2;
    @include background(linear-gradient($colour2, $colour1));
  }
}

.group-homepage-image-search {
  position:relative;
  height:160px;
  margin-bottom:50px !important;
  >img {
    position:absolute;
    top:-20px;
    left:-30px;
  }
  .main-search-box {
    position:absolute;
    top:-5px;
    right:20px;
  }
}

.group-homepage-join {
  overflow:hidden;
  h2 {
    color:$colour2 !important;
  }
  .btn-green {
    float:right;
    font-size:13px !important;
    padding:7px 14px !important;
  }
}

.group-prefs {
  p.warning > img {
    float: left;
  }
}

.tagItem {
  font-size: 11px;
  line-height: 1;
  padding: 5px 7px;
  margin: 0px;
  border-radius: 2px;
  border: 1px solid #8C8C8C;
  display: inline;
  color: $grey;
  line-height: 1;
  font: {
    size: 11px;
    weight: normal;
  }
  background: $lightergrey;
}
