/* 10. PAGE CONTENT
-------------------------------------------------------------- */
#page {
  background: $white;
  padding: 20px 0;
  overflow: hidden;
  #content {
    width: 630px;
    margin-right: 30px;
    float: left;
    &.content-no-sidebar {
      width: 960px;
      margin-right: 0;
      float: none;
    }
    &.content-wide-sidebar {
      width: 570px;
    }
    .tags {
      overflow: hidden;
      p {
        font-size: 12px;
        display: inline;
        float: left;
        color: $lightgrey;
        margin: 0 10px 5px 0;
      }
      ul {
        @include list-reset;
        display: inline;
        float: left;
        li {
          a {
            font-size: 12px;
            background: $grey;
            color: $black;
            margin-right: 10px;
            line-height: 1;
            padding: 4px 6px;
            @include border-radius(5px);
            &:hover {
              text-decoration: none;
              background: $lightergrey;
            }
          }
        }
      }
    }
    section {
      header {
        overflow: hidden;
        h2 {
          color: $colour1;
          margin: 0;
          float: left;
        }
        .button {
          float: right;
          @include button-reset-grad-text($colour2, $colour1, $colour2);
        }
      }
      &.intro {
        overflow: hidden;
        margin-bottom: 20px;
        .readmore {
          height: 80px;
          float: left;
        }
        .read-more-box {
          float: right;
          width: 630px;
        }
      }
    }
  }
  #sidebar {
    width: 300px;
    float: left;
    &.wide {
      width: 360px;
    }
    .btn-green {
      display: block;
      padding: 15px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    fieldset.buttons {
      padding: 0;
      li {
        float: none;
        padding: 0;
      }
    }
    section {
      margin: 0 0 20px 0;
      &.box {
        padding: 10px 0;
        border: 1px solid $paneborder;
        @include border-radius(10px);
        h2, h4, >a, form {
          padding: 0 10px;
        }
      }
      h2 {
        font-size: 16px;
        color: $grey3;
      }
      h4 {
        color: $colour1;
        margin-top: 10px;
      }
      >a {
        font-size: 13px;
      }
      form {
        overflow: hidden;
        label {
          margin-top: 4px;
          float: left;
        }
        select {
          display: block;
          float: right;
          width: 130px;
        }
      }
      ul.sidebarlist {
        @include list-reset-soft;
        margin-top: 10px;
        border-top: 1px solid $paneborder;
        li {
          a {
            background: $pane1;
            display: block;
            border-bottom: 1px solid $paneborder;
            color: $lightblack;
            overflow: hidden;
            padding: 10px;
            &:hover{
              text-decoration: none;
              background: $pane2;
            }
          }
        }
      }
      ul.sidebar-threadlist {
        @include list-reset-soft;
        li {
          border-top:3px solid $grey;
          overflow:hidden;
          .meta {
            float:left;
          }
          .permissions {
            float:right;
          }
        }
      }
      dl {
        overflow: hidden;
        margin-bottom: 20px;
        dt, dd {
          float: left;
          width: 60px;
          margin: 0;
          padding: 5px 10px;
          font-weight: normal;
          border-top: 1px solid $white;
          background: $pane1;
          &.title {
            color: $white;
            @include gradient($colour2, $colour1);
          }
        }
        dd {
          width: 208px;
          padding: 5px 10px 5px 0;
        }
      }
      &#resource-list {
        padding-top: 0;
        h2 {
          margin: 0;
          padding: 8px 10px;
          color: $white;
          @include gradient($lightblack, $black);
          @include border-radius(10px 10px 0 0);
        }
        ul {
          @include list-reset;
          margin-bottom: 10px;
          li {
            background: $pane1;
            display: block;
            width: 258px;
            padding: 10px 10px 10px 30px;
            border-bottom: 1px solid $paneborder;
            &:hover {
              background: $pane2;
            }
            h3 {
              position: relative;
              padding: 0 36px 10px 0;
              font: {
                weight: normal;
                size: 14px;
              }
              span.check {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 36px;
                height: 36px;
                cursor: pointer;
                background: image-url("check.png") right -4px no-repeat;
                &.checked {
                  background-image: image-url("check-checked.png");
                }
              }
            }
            p {
              font-size: 12px;
            }
            a.btn-grey {
              float: right;
            }
            &.open {
              background: $pane2;
            }
          }
        }
      }
    }
  }
}

/* Issue Page */
#issue-intro {
  overflow: hidden;
  margin-bottom: 30px;
  .map {
    float: left;
    margin-right: 20px;
    width: 210px;
  }
  .readmore {
    width: 400px;
    height: 180px;
    float: left;
    margin: 0;
  }
  a.read-more-box {
    width: 400px;
    float: right;
  }
}

#issue-replies {
  header {
    background: $grey;
    padding: 5px;
    text-align: center;
    .pagination {
      @include inline-block;
    }
  }
}

/* User locations page */
section#user-locations {
  table {
    .tinymap {
      width: 200px;
    }
  }
}


/* User Profile */
#user-details {
  position:relative;
  width:720px;
  margin-left:240px;
  header {
    overflow:visible !important;
    border-bottom:1px solid $paneborder;
    margin-bottom:30px;
    img.profile-pic {
      position:absolute;
      left:-240px;
      top:0;
    }
    button {
      position:absolute;
      top:0;
      right:0;
    }
  }
  dl {
    dt {
      color: $lightgrey;
      float:left;
      width:80px;
      font: {
        style:italic;
        weight:normal;
        size:12px;
      }
      margin-bottom:30px;
    }
    dd {
      color: $grey2;
      float:left;
      width:280px;
      margin-bottom:30px;
    }
  }
}
#user-tabs {
  clear:both;
  nav {
    margin-top:30px;
    width:209px;
    float:left;
    background:$pane1;
    border-top:1px solid $paneborder;
    border-left:1px solid $paneborder;
    border-bottom:1px solid $paneborder;
    @include border-radius(10px 0 0 10px);
    ul.tabs {
      @include list-reset-soft;
      li {
        a {
          position:relative;
          width:159px;
          height:20px;
          padding:10px 40px 10px 10px;
          color:$black;
          font-size:13px;
          border-bottom:1px solid $paneborder;
          &.active {
            background:$white;
            border-right:1px solid $white;
            z-index:2;
            &:hover {
              background:$white;
              cursor:default;
            }
          }
          &:hover {
            text-decoration:none;
            background:$pane2;
          }
          span.count {
            display:block;
            line-height:1;
            font: {
              size:11px;
              weight:bold;
            }
            text-align:center;
            letter-spacing:1px;
            float:right;
            color:$white;
            padding:2px 4px;
            margin-right:-30px;
            background:$grey3;
            border:2px solid $white;
            @include border-radius(10px);
            @include box-shadow(rgba(0, 0, 0, 0.3) 0 0 6px);
          }
        }
        &:first-child a {
          @include border-radius(10px 0 0 0);
        }
        &:last-child a {
          border-bottom:none;
          @include border-radius(0 0 0 10px);
        }
      }
    }
  }
  .panes {
    position:relative;
    z-index:1;
    float:left;
    width:688px;
    padding:30px;
    border:1px solid $paneborder;
    @include border-radius(10px);
    .pane {
      
    }
  }
}


/* Dashbaord */

#dashboard-tabs {
  nav {
    overflow:hidden;
    border-bottom:3px solid $paneborder;
    ul.tabs {
      li {
        a {
          
        }
      }
    }
  }
  .panes {
    
  }
  table.dashboard-threads {
    width:100%;
    tr {
      border-bottom:1px solid $paneborder;
      td {
        padding:10px 0;
        &.meta {
          font: {
            style:italic;
            size:13px;
          }
        }
        p {
          margin:0;
        }
        ul.icon-list {
          li {
          }
        }
      }
    }
  }
}

#dashboard-threads-issues {
  clear:both;
  overflow:hidden;
  h2 {
    padding-bottom:10px;
    border-bottom:3px solid $paneborder;
  }
  #group-threads {
    width:570px;
    margin-right:30px;
    float:left;
    ul.group-threads-list {
      @include list-reset-soft;
      border-bottom:3px solid $paneborder;
      li {
        clear:both;
        overflow:hidden;
        padding:10px 0;
        border-bottom:1px solid $paneborder;
        &:last-child {
          border-bottom:none;
        }
        a.group-link {
          float:left;
          display:block;
          width:200px;
        }
        div {
          float:left;
          p {
            margin:0;
            color:$lightgrey2;
            font-size:13px;
          }
        }
        button {
          float:right;
        }
      }
    }
    a.read-more-simple {
      float:right;
      margin-top:10px;
    }
  }
  #issues-map {
    width:360px;
    float:left;
  }
}
