/* 5. FORMS
-------------------------------------------------------------- */
form.guided {
  position: relative;
  overflow: hidden;
  ol {
    padding: 0;
    margin: 0;
    counter-reset: li;
    > li.input {
      position: relative;
      float: left;
      list-style: none;
      width: 590px;
      padding: 20px 20px 10px 60px;
      background: $pane1;
      color: $lightergrey;
      font: {
        weight: bold;
        size: 28px;
      }
      &:before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: 20px;
      }
      &.full-width {
        width: 860px;
        padding-right: 40px;
        label {
          float: none;
        }
      }
      &.with-user-image {
        .map {
          clear: none;
          float: right;
          width: 500px;
        }
        .user-image {
          clear: both;
          float: left;
          position: relative;
          overflow: visible;
          margin-top: 80px;
          width: 200px;
          height: 150px;
          background: $white;
          border: 6px solid $paneborder;
          .nub {
            position: absolute;
            display: block;
            right: -80px;
            top: 55px;
            width: 34px;
            height: 40px;
            background: image-url("big-arrow-right.png") 0 0 no-repeat;
          }
        }
      }
      li.input.stringish input {
        margin-top: -10px;
      }
      button {
        padding: 10px 30px;
        float: left;
      }
    }
  }
  fieldset {
    padding-top: 1.5em;  // To compensate for Formtastic kludge
  }
  fieldset > ol > li.input > .label {
    color: $lightgrey2;
    display: block;
    width: 160px;
    float: left;
    text-align: left;
    font: {
      weight: bold;
      size: 16px;
    }
    margin-right: 0;
    span {
      display:block;
      font: {
        style:italic;
        weight: normal;
        size: 14px;
      }
    }
  }
  li.input p.inline-hints {
    margin-left: 160px;
    font: {
      style: italic;
      weight: normal;
      size: 14px;
    }
  }
  p {
    color: $lightgrey2;
    display: inline;
  }
  fieldset ol li.stringish input,
  fieldset ol li input,
  fieldset ol li.text textarea {
    display: block;
    padding: 10px;
    width: 408px;
    font-size: 16px;
    color: $lightblack;
    float: left;
    border: 1px solid $lightergrey;
    @include box-shadow(rgba(0, 0, 0, 0.4) 0 0 1px);
    &:focus {
      outline: none;
      @include box-shadow(inset rgba(0, 0, 0, 0.4) 0 0 1px);
    }
  }
  fieldset ol li.text {
    label {
      width: auto;
    }
    textarea {
      height: 200px;
      width: 568px;
      margin: 10px 0;
    }
  }
  button,
  .btn-green {
    font-size: 18px;
  }
  .droparea {
    float: right;
    text-transform: uppercase;
    padding: 10px 20px;
    line-height: 0;
    border: 2px dashed $lightergrey;
  }
  .map {
    overflow: hidden;
    clear: both;
    width: 850px;
    border: 4px solid $white;
  }
  .radios p {
    color: $lightgrey2;
    display: block;
    float: right;
    margin-left: 30px;
    &.marker-area {
      float: left;
      margin: 0;
    }
  }
  .submit {
    position: absolute;
    right: 0;
    bottom: 10px;
    padding: 20px 40px;
  }
}
