/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset > ol {
  // Right-align labels
  > li.input .label {
    text-align: right;
    width: 23%;
    margin-right: 2%;
  }
  // Some padding on text inputs
  > li.stringish input {
    padding: 2px;
  }
  > li {
    &.string, &.password, &.numeric, &.email, &.url, &.phone, &.search {
      input {
        width: 70%;
      }
    }
  }
}

// Fieldset widths
form.formtastic {
  fieldset.actions {
    padding-left: 27%;
  }
  fieldset > ol > li.input {
    &.boolean label {
      padding-left: 27%;
    }
  }
}

// Fix colour override
form.formtastic legend {
  color: inherit;
}

// Override the legend's label on radio choices
form.formtastic .choices .label label {
  position: static;
}

// Hints
.formtastic .input .inline-hints {
  color:#aaa;
  margin-top: 2px;
  font-style: italic;
  font-size: 13px;
}


// Tags form - inline all elements and align
.tag-form {
  form.formtastic fieldset {
    display: inline;
  }
  form.formtastic fieldset.inputs {
    li {
      margin: 0;
      padding: 0;
    }
    > ol > li.input .label {
      width: auto;
      margin-right: 12px;
    }
  }
  form.formtastic .stringish input {
    margin-right: 6px;
    width: 350px;
  }
  form.formtastic fieldset.actions {
    height: 24px;
    padding-left: 0;
  }
}
body.issues, body.group-issues {
  .tag-form {
    form.formtastic .stringish input {
      width: 250px;
    }
  }
}

.formtastic input, .formtastic button, .formtastic textarea {
  font-family: inherit;
}
