@import "grid";

body > header, .flash-container, .content-container, body > footer {
  @include container;
}

body > header {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.content {
  h1, h2, h3 {
    margin-bottom: 12px;
  }
}

// Tables

table {
  margin-bottom: 12px;
  td, th {
    padding: 4px;
  }
}
