@import "grid";

body > header, .control-bar, .flash-container, .content-container, body > footer {
  @include container;
}

body > header {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.content {
  h1, h2, h3 {
    margin-bottom: 12px;
  }
}

// Tables

table {
  margin-bottom: 12px;
  td, th {
    padding: 4px;
  }
}

// Home page

body.home {
  .issues-area {
    @include column($half-span, "first");
  }

  .groups-area {
    @include column($half-span, "last");
  }
}
