// Maps

#map {
  height: 350px;
  width: 100%;
  border:1px solid black;
  margin-top: 1em;
}

#large-map {
  height: 72%;
  width: 100%;
  border:1px solid black;
  margin-top: 1em;
}

#photo-map {
  height: 550px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 1em;
}

.map, .map-container {
  position: relative;
  margin-top: 0;
}

.map-tools-overlay {
  background-color: black; // IE8 and lower
  filter: alpha(opacity=85);  // IE8 and lower
  background:rgba(0, 0, 0, 0.85);
  right:0;
  ul.undo-clear {
    bottom:10px;
    margin-top: 0;
    .txt {
      color:$grey;
    }
  }
  ul.tabs {
    li {
      a {
        color:$grey;
        height:80px;
        width:50px;
      }
    }
  }
}

.map-tools-overlay, .map-tools-overlay-right {
  position:absolute;
  top:0;
  height:100%;
  width:190px;
  opacity: 0.85;
  z-index:1010;
  ul.draw-options {
    @include list-reset;
    li {
      &.ui-state-active {
        a {
          font-size: small;
        }
      }
      a {
        display:block;
        cursor:pointer;
        font: {
          weight:bold;
          size:10px;
        }
        text: {
          align:center;
          transform:uppercase;
        }
        letter-spacing:1px;
        span {
          width:50px;
          height:50px;
          display:block;
          border:1px solid $black;
          background: $grey image-url("sprite.png") 4px -534px no-repeat;
          @include border-radius(8px);
          &.area {
            background-position:4px -534px;
          }
          &.route {
            background-position:4px -616px;
          }
          &.point {
            background-position:13px -706px;
          }
        }
        &:hover {
          text-decoration:none;
          span {
            background-color:$pane2;
          }
        }
        &.current span {
          @include box-shadow(inset rgba(0, 0, 0, 0.7) 0 0 8px);
        }
      }
    }
  }
  .panes {
    padding:10px;
    .pane {
      h3, p {
        color:$grey;
      }
      p {
        display:block;
        margin-bottom:10px;
        font: {
          weight:normal;
          size:13px;
          style:italic;
        }
      }
    }
  }
  ul.undo-clear {
    @include list-reset;
    position:absolute;
    margin-top: 80px;
    left:10px;
    li {
      float:left;
      margin-right:10px;
      a {
        display:block;
        width:80px;
        height:32px;
        cursor:pointer;
        span.txt {
          float:right;
          margin-top:5px;
          font: {
            weight:bold;
            size:10px;
          }
          letter-spacing:1px;
          text: {
            transform:uppercase;
            align:right;
          }
        }
        span.icon-undo,
        span.icon-clear {
          float:left;
          width:30px;
          height:30px;
          display:block;
          border:1px solid $lightgrey;
          background:image-url("sprite.png") 3px -780px no-repeat;
          @include border-radius(8px);
        }
        span.icon-clear {
          background-position:4px -825px;
        }
        &:hover {
          text-decoration:none;
          span.icon-undo,
          span.icon-clear {
            border:1px solid $grey;
          }
        }
      }
    }
  }
}

.map-tools-overlay-right {
  background-color: white; // IE8 and lower
  filter: alpha(opacity=85);  // IE8 and lower
  background:rgba(255, 255, 255, 0.85);
  left: 0;
  width: 220px;
}

.tinymap {
  height: 100px;
  border: 1px solid black;
  margin: 1em;
}

.tinyermap {
  @extend .tinymap;
  width: 300px;
}

.streetViewPano {
  width: auto;
  height: 300px;
}

.olControlEditingToolbar .clearButtonItemInactive {
  width:  24px;
  height: 22px;
  background-image: url("/openlayers/theme/default/img/delete.png");
}

.leaflet-draw-actions, .leaflet-draw-toolbar{
  display: none !important;
}

.map-search {
  position: absolute;
  z-index: 1000;  // On top of map tiles
  top: 8px;
  left: 60px;
  input[type="text"] {
    width: 160px;
    padding: 4px;
  }
  button {
    padding: 4px;
    font-size: 12px;
  }
  #map-search-status {
    width: 225px;
    padding: 4px;
    background: white;
    font-size: 10px;
    color: #999;
    ol > li {
      font-weight: normal;
    }
  }
}

.leaflet-popup {
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background: rgba(0, 0, 0, 0.80);
  }
  img {
    float: left;
    margin: 10px;
  }
  img.no-float {
    float: none;
  }

  color: #ffffff;
  p {
    font-style: italic;
    border-bottom: none;
  }
  a {
    color: #ffffff !important;
    font-style: normal;
    font-weight: bold;
    border-bottom: none;
  }
}

.leaflet-search-outside .leaflet-control-search.search-exp {
  box-shadow: none;
  margin-left: 0;
  overflow: visible;
  float: none;
  display: inline-flex;
  .search-input {
    float: none;
  }
  .search-tooltip {
    background-color: rgba(100, 100, 100, 255);
    .search-tip {
      white-space: initial;
    }
  }
}

.leaflet-control-search {
  input.search-input {
    padding: 7px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px 0px #aaa;
    max-width: 164px;
  }
}

// Probably a better method here:
// https://github.com/Leaflet/Leaflet.draw/issues/48#issuecomment-143836307
.leaflet-div-icon.leaflet-editing-icon.leaflet-touch-icon {
  width: 14px !important;
  height: 14px !important;
}

.formtastic .leaflet-control-search .search-tip {
  background-color: #fff;
  &:hover {
    background-color: #eee;
  }
}

.leaflet-control-search ul.search-tooltip {
  width: 100%;
}

.map-tools-overlay-right .inputs ol .boardered {
  border-style: solid;
  border-width: thin;
  overflow: initial;
}

#new_user_location {
  height: 82% !important;
}
