
// Maps

#map {
  height: 300px;
  width: 100%;
  border:1px solid black;
  margin-top: 3em;
}

.tinymap {
  height: 100px;
  border: 1px solid black;
  margin: 1em;
}

.olControlEditingToolbar .clearButtonItemInactive {
  width:  24px;
  height: 22px;
  background-image: url("/openlayers/theme/default/img/delete.png");
}

.map-search {
  position: absolute;
  z-index: 1000;  // On top of map tiles
  top: 8px;
  left: 60px;
  input[type="text"] {
    width: 160px;
    padding: 4px;
  }
  button {
    padding: 4px;
    font-size: 12px;
  }
  #map-search-status {
    width: 225px;
    padding: 4px;
    background: white;
    font-size: 10px;
    color: #999;
    ol > li {
      font-weight: normal;
    }
  }
}

.olFramedCloudPopupContent {
  color: #ffffff;
  p {
    font-style: italic;
  }
  a {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
  }
}
