// For jQuery Tools Scrollable elements

.scrollable {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.scrollable .panels {
  width: 9999999px;
  position: absolute;
}

.scrollable .panels > div {
  float: left;
  width: 628px;
}
