/* 4. SHARED ELEMENTS
-------------------------------------------------------------- */
ul.thread-metadata-listings {
  @include list-reset-soft;
  margin: 10px 0 !important;
  border-top: 1px solid $paneborder;
  li {
    a {
      &.leading {
        background: $leaderpanel;
      }
      background: $pane1;
      display: block;
      border-bottom: 1px solid $paneborder;
      color: $lightblack;
      overflow: hidden;
      padding: 5px;
      &:hover{
        text-decoration: none;
        background: $pane2;
        &.leading {
          background: $leaderpanel2;
        }
      }
      p {
        margin: 0 0 0 34px;
        strong {
          font-weight: bold;
        }
      }
    }
  }
}

li.ui-tabs-active.ui-state-active {
  font-weight: bold;
}

#page {
  ul.tabs {
    a:hover {
      border-bottom: none;
    }
  }
}

.ui-dialog .ui-dialog-titlebar-close span {
  margin-top: -8px;
  margin-left: -8px;
}

a .thumb {
  float: left;
  width: 24px;
  height: 24px;
  img, span {
    width: 20px;
    height: 20px;
    border: 2px solid $white;
  }
}


// Will Paginate compatible styling
.pagination {
  span, a, em {
    display: block;
    float: left;
    background: $pane1;
    margin: 0 2px;
    padding-top: 1px;
    min-width: 22px;
    height: 21px;
    font-size: 14px;
    text: {
      align: center;
      decoration: none;
    }
    color: $lightgrey2;
    &:hover {
      color: $pane1;
      background: $lightergrey;
    }
  }
  .current {
    font-weight: bold;
  }
}

body.site-comments {
  .pagination {
    height: 1.5em;
    margin: 1em 0;
  }
}

section.thread {
  @include list-reset-soft;
  margin: 20px 0;
  article.message {
    padding: 20px 10px;
    border-bottom: 3px solid $grey;
    &:last-child {
      border-bottom: none;
    }
    a.thumbnail {
      border: 4px solid $lightergrey;
      display: block;
      width: 42px;
      height: 42px;
      float: left;
      margin-right: 20px;
    }
    .author, a.permalink {
      color: $lightgrey;
      font: {
        weight: normal;
        size: 12px;
      }
    }
    .body {
      overflow: hidden;
      position: relative;
      .readmore {
        overflow: hidden;
        margin-top: 10px;
        width: 540px;
        height: 75px;
        float: left;
      }
      .read-more-box {
        width: 540px;
        float: right;
      }
      .censored {
        color: $lightgrey;
      }
    }
    &.unread {
      background: $pane1;
      border: 1px solid $grey;
      .read-more-box {
        background: image-url("read-more-box-bg-grey.png") 0 0 repeat-x;
        &.active {
          background: none;
        }
      }
      div .tools {
        right: 0;
      }
    }
  }
}

// Tools/actions menu hidden until item is clicked/tapped
.tools {
  position: absolute;
  right: 0;
  top: 0;
  background: $pane1 image-url("sprite.png") 0 0 no-repeat;
  width: 32px;
  height: 21px;
  border: 1px solid $lightergrey;
  border-radius: 2px;
  &:hover {
    cursor: pointer;
    background: $pane2 image-url("sprite.png") 0 -20px no-repeat;
  }
  ul {
    @include list-reset;
    right: 0;
    top: 20px;
    position: absolute;
    width: 180px;
    background: white;
    border-radius: 2px;
    border: 1px solid $lightergrey;
    padding: 6px;
    display: none;
    z-index: 100;
  }
  &.reveal ul {
    display: block;
  }
}

article:hover > menu.tools, header:hover > menu.tools {
  right: 0;
}

ul.thread-list {
  @include list-reset-soft;
  margin: 20px 0;
  border-top: 3px solid $grey;
  li {
    padding: 20px 0;
    border-bottom: 3px solid $grey;
    overflow: hidden;
    .item-content {
      margin: 0 30px 0 0;
      float: left;
      width: 390px;
      h4 {
        margin: 3px 0 10px 0;
      }
    }
    .status {
      width: 25%;
      float: left;
      color: $grey2;
      .following {
        width: 34%;
        display: inline-block;
        vertical-align: top;
        font-size: 11px;
        font-weight: bold;
        color: $darkgreen;
        text-transform: uppercase;
        img {
          vertical-align: middle;
        }
      }
      .thread_subscription {
        width: 40%;
        display: inline-block;
        vertical-align: top;
      }
      form {
        li.input_action {
          padding-top: 5px;
          border-bottom: none;
        }
      }
    }
    &.car-parking {
      padding-left:42px;
      background: image-url("map-icons/m-car-parking.png") 0 20px no-repeat;
    }
    &.cycle-parking {
      padding-left:42px;
      background: image-url("map-icons/m-cycle-parking.png") 0 20px no-repeat;
    }
    &.cycle-path {
      padding-left:42px;
      background: image-url("map-icons/m-cycle-path.png") 0 20px no-repeat;
    }
    &.misc {
      padding-left:42px;
      background: image-url("map-icons/m-misc.png") 0 20px no-repeat;
    }
    &.obstruction {
      padding-left:42px;
      background: image-url("map-icons/m-obstruction.png") 0 20px no-repeat;
    }
    &.planning {
      padding-left:42px;
      background: image-url("map-icons/m-planning.png") 0 20px no-repeat;
    }
    &.roadworks {
      padding-left:42px;
      background: image-url("map-icons/m-roadworks.png") 0 20px no-repeat;
    }
    .permissions {
      float:right;
    }
  }
}

.meta {
  p {
    font-size: 12px;
    color: $lightgrey;
    margin-bottom: 8px;
  }
  a,
  span {
    color: $grey2;
  }
}

.permissions {
  width: 80px;
  color: $lightgrey;
  text: {
    align: right;
    transform: uppercase;
  }
  font: {
    size: 11px;
    weight: bold;
  }
}



#page aside#sidebar section.map {
  padding: 10px;
}


.minimap {
  position: relative;
  padding: 0 10px;
  height: 210px;
}
.map img {
  display:block;
}
.map-tools {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  background: $white;
  padding: 5px 0 0 5px;
  button {
    display: block;
    float: left;
    width: 27px;
    height: 27px;
    border: none;
    text-indent: -999999px;
    &.person {
      margin-right: 5px;
      background: image-url("sprite.png") -3px -130px no-repeat;
      &:hover {
        background-position: -43px -130px;
      }
    }
    &.zoom {
      background: image-url("sprite.png") -3px -180px no-repeat;
      &:hover {
        background-position: -43px -180px;
      }
    }
  }
}

.tip,
form.guided .tip {
  position: absolute;
  right: -290px;
  top: 0;
  z-index: 20;
  width: 220px;
  padding: 20px;
  background: $black;
  h4 {
    color: $grey;
  }
  p {
    color: $grey;
    font-weight: normal;
    line-height: 10px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding:0;
  }
  .nub {
    display: block;
    width: 24px;
    height: 20px;
    position: absolute;
    left: -24px;
    top: 20px;
    background: image-url("sprite.png") -44px -261px no-repeat;
  }
}

#overlay, div.dialog {
  border-radius: 5px;
  width: 640px;
  background: white;
  border: 1px solid black;
  padding: 8px;
  > a.close {
    float: right;
    right: 8px;
  }
}

// Missing translation
body.development span.translation_missing {
  text-decoration: underline;
  color: red;
}


.image-scroller {
  border: 1px solid $paneborder;
  overflow:hidden;
  border-radius: 0 0 10px 10px;
  .image-scroller-wrap {
    height:200px;
    overflow:hidden;
  }
  footer {
    height:33px;
    overflow:hidden;
    background:$pane1;
    border-radius: 0 0 9px 9px;
    p {
      margin:7px 10px 0 10px;
      float:left;
      color:$grey2;
      font: {
        style:italic;
        size:12px;
      }
    }
    menu {
      float:right;
      a {
        float:left;
        border-left:1px solid $paneborder;
      }
    }
  }
}

ul.group-threads-list {
  li {
    span {
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      border: 2px solid $lightergrey;
      margin: 0 10px 0 0;
    }
    &.green span {
      background: $green;
    }
    &.blue span {
      background: $blue;
    }
    &.red span {
      background: $red;
    }
  }
}

ul.content-icon-list {
  @include list-reset-soft;
  li {
    padding-left:30px;
    background:image-url("content-icons.png") 0 3px no-repeat;
    &.image {
      background-position:0 3px;
    }
    &.cal {
      background-position:0 -104px;
    }
    &.link {
      background-position:0 -216px;
    }
    &.library_note {
      background-position:0 -326px;
    }
    &.map-point {
      background-position:0 -436px;
    }
    &.library_document {
      background-position:0 -548px;
    }
  }
}

span.icon {
  float:left;
  display:block;
  width:60px;
  height:60px;
  margin-right:30px;
  background:image-url("wysiwyg.png") 22px 0 no-repeat;
  &.library_document {
    background-position:-288px 0;
  }
  &.library_photo {
    background-position:-58px 0;
  }
  // Unused
  &.cal {
    background-position:-376px 0;
  }
  &.library_link {
    background-position:-210px 0;
  }
  &.library_note {
    background-position:20px 0;
  }
  // Unused
  &.map_point {
    background-position:-134px 0;
  }
}

ul.library-list, ul.library-selector {
  @include list-reset-soft;
  border-top:2px solid $paneborder;
  padding:20px 0 0 0;
  overflow:hidden;
  li {
    float:left;
    border-bottom:1px solid $paneborder;
    margin-bottom:20px;
    .lib-content {
      float:left;
      width:390px;
      margin-right:30px;
    }
    .meta {
      float:left;
      width:120px;
      font-style:italic;
      p {
        margin:0;
        color:$lightgrey2;
        span {
          color:$lightgrey;
        }
      }
      a {
        color:$lightgrey2;
      }
    }
  }
}

ul.issue-list,
ul.group-list {
  @include list-reset-soft;
  border-top:3px solid $paneborder;
  padding:20px 0 0 0;
  overflow:hidden;
  margin: 20px 0;
  li {
    padding-bottom:20px;
    border-bottom:3px solid $paneborder;
    margin-bottom:20px;
    overflow:hidden;
    &:last-child {
      margin-bottom:20px;
    }
    .map {
      display:table-cell;
      width:270px;
      height:180px;
      padding-right:30px;
      vertical-align:top;
      .tinymap {
        height: 180px;
      }
    }
    .issue-content,
    .group-content {
      display:table-cell;
      width:480px;
      vertical-align:top;
      .meta {
        margin-bottom:15px;
      }
    }
    .issue-content {
      padding-right:90px;
    }
    .votes-cell {
      width:60px;
      display:table-cell;
      height:180px;
      vertical-align:middle;
    }
    .group-actions {
      width:180px;
      display:table-cell;
      height:180px;
      vertical-align:top;
      padding-left: 10px;
      p {
        width:180px; // otherwise links won't break
        a {
          word-wrap: break-word;
        }
      }
    }
  }
}

table.listing {
  td {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .map {
    width:270px;
    padding-right:30px;
    vertical-align:top;
    .tinymap {
      height: 180px;
    }
  }
}

.votes {
  a {
    height: 20px;
    width: 20px;
  }
  .vote-count {
    background:image-url("like.png");
    background-size:cover;
    position:absolute;
    &.unvoted {
      filter: saturate(0);
      -webkit-filter: saturate(0);
    }
  }
  .tally{
    margin-left:25px;
  }
  .access-denied {
    position: relative;
    text-align: center;
    top: 14px;
    font-size: 12px;
    color: $lightgrey;
    a { color: $lightgrey; }
  }
}



form.filters {
  font-size:13px;
  label {
    color: $grey3;
  }
  select {
    margin-right:20px;
  }
}

ul.styled-tabs {
  @include list-reset;
  border-bottom:1px solid $paneborder;
  height:33px;
  margin-bottom:15px;
  overflow:visible;
  li {
    margin-right:10px;
    a {
      background:$pane1;
      padding:6px 10px;
      color:$lightgrey2;
      border-top:1px solid $paneborder;
      border-left:1px solid $paneborder;
      border-right:1px solid $paneborder;
      &.current,
      &.current:hover {
        color:$black;
        background:$white;
        border-bottom:1px solid $white;
      }
      &:hover {
        text-decoration:none;
        background:$pane2;
      }
    }
  }
}


section.new-message {
  clear:both;
  margin-top: 40px;
  overflow: hidden;
  position:relative;
  p.label {
    position:absolute;
    left:0;
    top:6px;
    color:$lightgrey2;
    font-weight:bold;
  }
  .access-denied {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #new-text-message {
    li#message_body_input {
      label {
        position: absolute;
        left: -99999px;
      }
      textarea {
        width: 565px;
        height: 15em;
        padding: 4px;
        line-height: 1.4em;
      }
    }
    fieldset.actions {
      padding: 0;
    }
  }
  #new-link-message {
    li#link_message_description_input {
      textarea {
        height: 10em;
      }
    }
  }
  ul.styled-tabs {
    padding-left:60px;
    margin-bottom:0;
    li {
      a {
        padding-left:30px;
        color:$white;
        background-color:$lightgreen;
        &.current,
        &:hover.current {
          background-color:$white;
          color:$lightgrey2;
        }
        &:hover {
          background-color:$darkgreen;
        }
      }
      &.compose-new a {
        background-image:image-url("sprite.png");
        background-position:5px -1320px;
        background-repeat:no-repeat;
        &.current,
        &:hover.current {
          background-position:5px -1240px;
        }
      }
      &.from-library a {
        background-image:image-url("sprite.png");
        background-position:5px -1473px;
        background-repeat:no-repeat;
        &.current,
        &:hover.current {
          background-position:5px -1403px;
        }
      }
    }
  }
  >.panes:not(.map-panes) {
    clear:both;
    border-left:1px solid $paneborder;
    border-right:1px solid $paneborder;
    border-bottom:1px solid $paneborder;
    overflow:hidden;
    .pane .pane:not(.map-panes) {
      background: $pane1;
      padding:30px;
      float:none;
      width:auto;
    }
  }
  #compose-new {
    a:hover {
      border-bottom:0;
    }
    ul.tabs:not(.draw-options) {
      @include list-reset-soft;
      float:none;
      width:auto;
      padding:15px;
      height:50px;
      border-bottom:1px solid $paneborder;
      li {
        float:left;
        border-right:1px solid $paneborder;
        padding-right:8px;
        margin-right:8px;
        &:last-child {
          border-right:0;
          padding-right:0;
          margin-right:0;
        }
        &.image a {
          background-position:0 3px;
        }
        &.cal a {
          background-position:0 -104px;
        }
        &.link a {
          background-position:0 -216px;
        }
        &.text a {
          background-position:0 -326px;
        }
        &.map-point a {
          background-position:0 -436px;
        }
        &.doc a {
          background-position:0 -548px;
        }
        a {
          position:relative;
          padding:0 0 0 30px;
          background:image-url("content-icons.png") 0 3px no-repeat;
          color:$black;
          zoom: 1;
          filter: alpha(opacity=50);
          opacity: 0.5;
          &:hover,
          &.current {
            text-decoration: none;
            filter: alpha(opacity=100);
            opacity: 1;
          }
          span.nub {
            position:absolute;
            display:none;
            top:35px;
            width:22px;
            height:16px;
            background:image-url("sprite.png") -50px -105px no-repeat;
          }
          &.current {
            span.nub {
              display:block;
            }
          }
        }
      }
    }
  }
  #from-library {
    form.filters {
      padding:15px;
      border-bottom:1px solid $paneborder;
      position:relative;
      .search-box {
        line-height:0;
        margin-right:10px;
      }
      button {
        margin-right:10px;
      }
      span.nub {
        position:absolute;
        display:block;
        top:59px;
        left:40px;
        width:22px;
        height:16px;
        background:image-url("sprite.png") -50px -105px no-repeat;
      }
    }
    .library-content {
      background: $pane1;
      padding:30px 30px 15px 30px;
      h3 {
        color: $grey2;
      }
      ul.content-icon-list {
        background:$white;
        padding:15px;
        margin-bottom:15px;
        li {
          padding-left:45px;
          border-bottom:1px solid $paneborder;
          overflow:hidden;
          padding-bottom:15px;
          margin-bottom:15px;
          &:last-child {
            border-bottom:0;
            padding-bottom:0;
            margin-bottom:0;
          }
          .btn-green {
            float:right;
            margin-top:10px;
          }
          .item-content {
            float:left;
            max-width:400px;
            p.meta {
              margin:5px 0 0 0;
              color:$lightgrey2;
              line-height:15px;
              font: {
                style:italic;
                size:13px;
              }
            }
          }
        }
      }
    }
  }
  #add-library-item {
    position:relative;
    > h2 {
      color:$lightblack;
      display:block;
      padding:30px;
      margin:0;
      font:  {
        size: 26px;
        weight: normal;
      }
    }
    > .btn-grey {
      position:absolute;
      right:30px;
      top:30px;
    }
    .library-content {
      padding:0 30px 30px 30px;
      overflow:hidden;
      form {
        label {
          display:block;
          color:$grey3;
          margin-bottom:15px;
          font: {
            weight:bold;
            size:16px;
          }
        }
        textarea {
          width:546px;
          height:120px;
          margin-bottom:30px;
          padding:10px;
          font-size:14px;
          border:1px solid $lightergrey;
          box-shadow: rgba(0, 0, 0, 0.3) 0 0 4px;
          &::-webkit-input-placeholder {
            color:$lightgrey;
          }
          &:-moz-placeholder {
            color:$lightgrey;
          }
        }
      }
      .library-item {
        position:relative;
        span {
          display:block;
          width:40px;
          height:40px;
          position:absolute;
          background:image-url("content-icons.png") 0 3px no-repeat;
          &.image {
            background-position:0 3px;
          }
          &.cal {
            background-position:0 -104px;
          }
          &.link {
            background-position:0 -216px;
          }
          &.library_note {
            background-position:0 -326px;
          }
          &.map-point {
            background-position:0 -436px;
          }
          &.library_document {
            background-position:0 -548px;
          }
        }
        .item-content {
          float:left;
          max-width:360px;
          margin-left:40px;
          h3 {
            color:$lightblack;
          }
          p {
            font-size:13px;
          }
        }
        .item-meta {
          float:right;
          p {
            display:block;
            color:$grey3;
            margin:15px 0 0 0;
            text-align:center;
            font: {
              style:italic;
              size:13px;
            }
          }
        }
      }
    }
    .btn-big-green {
      display:block;
      float:right;
      font-size:14px;
      margin:0 30px 30px 0;
    }
  }
}

.top-box {
  min-height:160px;
  margin-bottom: 30px;
  h1 {
    margin-top:5px;
    line-height:35px;
    font-size:16px;
    color:$lightgrey2;
  }
}
.group-top-box {
  @extend .top-box;
  margin-right:30px;
}

.center-box {
  background:$pane1;
  border:spx solid $paneborder;
  margin-bottom:30px;
  h2 {
    display:block;
    color:$white;
    padding:10px;
    margin:0;
    background: linear-gradient($black, $lightblack);
  }
  .inner {
    padding:20px;
    text-align:center;
    p {
      font-size:16px;
      color:$grey2;
    }
  }
}

ul.latest-discussions {
  li {
    .status {
      float: right;
    }
  }
}

.group-latest-discussions {
  @extend .latest-discussions;
  li:last-child {
    border-bottom:none;
  }
}


.main-search-box {
  border: 1px solid $grey;
  input {
    border: none;
    background: $white;
    padding: 5px 4px;
    font-size: 14px;
    margin: 0;
    float: left;
  }
  button {
    @include button-reset;
    float: left;
    background: $white image-url("search.png") center 4px no-repeat;
    width: 27px;
    height: 27px;
    border-radius: 0;
    &:hover {
      background-position: center -19px;
    }
    &:active {
      box-shadow: none;
    }
  }
}

#image-preview img {
  width: 300px;
}

.peekimage img {
  width: 250px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.float-right {
  float: right !important;
}

.bs.btn-group {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
  margin-bottom: .5rem;
  margin-top: .25rem;
  .btn {
    margin-right: .25rem;
  }
}

.bs.btn {
  padding-left: .75rem;
  padding-right: .75rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
