@import "utils";

// Vars
$details-text-color: gray;

body > header {
  background: #bfbfbf;
  h1 a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

body > nav.bar > .inner {
  border: 1px solid #bfbfbf;
  @include border-radius(5px);
}

div.content h1 {
  border-bottom: 1px solid #bfbfbf;
}

// Buttons and pseudo-buttons

a.button {
  border: 1px solid #bfbfbf;
  background: #8e8e8e;
  color: white;
  font-weight: bold;
  @include box-shadow;
  &:hover {
    background: #afafaf;
  }
}

// Flash

div.flash {
  font-weight: bold;
  border: 1px solid black;
  @include border-radius(3px);
}

div.alert {
  background-color: #d60000;
  color: white;
}

div.notice {
  background-color: #16c400;
  color: white;
}

// Compact thread display

article.thread.compact {
  @include border-radius(5px);
  border: 1px solid gray;
  &:hover {
    background: #cecece;
  }
}

// Message widget display

article.message {
  @include border-radius(5px);
  border: 1px solid gray;
  .details {
    color: gray;
    background: #d8d8d8;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .author a {
      font-weight: bold;
      color: black;
    }
    time {
      font-size: 10px;
    }
  }
}

// Issues

section.issues {
  article.issue {
    .wrapper {
      @include border-radius(5px);
      border: 1px solid gray;
    }
    header {
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #cecece;
      color: gray;
      h3 a {
        font-size: 14px;
        font-weight: bold;
        color: black;
      }
    }
  }
}

// Issue page
article.issue {
  section.details {
    color: $details-text-color;
  }
}
