body > header {
  background: #bfbfbf;
  h1 a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

body > nav.bar > .inner {
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.content h1 {
  border-bottom: 1px solid #bfbfbf;
}
