.link
  %p= simple_format component.caption
  .streetViewPano.google-street-view{id: "streetViewPano#{component.id}", data: {lat: component.location.x, long: component.location.y, heading: component.heading, pitch: component.pitch}}
