%h4{style: "margin: 5px"}= component.question
%ul
  - component.poll_options.each do |option|
    %li= option.option
%p
  = link_to "Vote", thread_url(component.thread, anchor: dom_id(component.message))
