%figure.photo
  = link_to thread_url(@message.thread) + "#message_#{@message.id}", rel: "#overlay" do
    = image_tag path_to_url(@message.component.photo_preview.url),
        alt: t(".photo_alt", caption: @message.component.caption)
  %figcaption
    = @message.component.caption
