.deadline{id: dom_id(message.component)}
  - deadline = format_deadline message.component.deadline
  %h3= l deadline, format: :long
  = render partial: "shared/deadline", locals: {deadline: deadline}
  %p= message.component.title
