.deadline{id: dom_id(message.component)}
  - deadline = message.component.deadline.to_date
  %h3= l deadline, format: :long
  = render partial: "shared/deadline", locals: {deadline: deadline}
  %p= message.component.title
