%p
  Dobrý den, #{@resource.email}!
%p Níže uvedeným odkazem můžete změnit své heslo, jinak můžete tento email ignorovat:
%p= link_to 'Změnit heslo', edit_password_url(@resource, :reset_password_token => @token)
