%p
  Dobrý den, #{@resource.email}!
%p Někdo kliknul na odkaz pro reset vašeho hesla, což můžete provést pomocí odkazu níže.
%p= link_to 'Změnit heslo', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Pokud jste si změnu hesla nepřály, můžete tento email ignorovat.
%p Vaše heslo zůstane nezměněné dokud nepoužijete výše uvedený odkaz pro vytvoření hesla nového.
