Issues that have multiple threads where all the issues' tags are used on other issues or threads.
%table
  %thead
    %th Issue
    %th Tags (on the issue only)
  %tbody
    - @issues_with_multiple_threads.each do |issue|
      %tr
        %td= link_to issue.title, issue
        %td= issue.tag_names.compact

