-# frozen_string_literal: true

%h2= t '.private_messages'
%p=t '.private_introduction'
%table.dashboard-threads
  %tbody
    - @private_threads.each do |thread|
      %tr
        %td.title
          %h4= link_to thread.title, thread_path(thread), class: (@unviewed_thread_ids.include?(thread.id) ? "new" : "")
        %td.activity
          = t '.with_html', other: link_to_profile(thread.other(current_user))
        %td.activity
          = formatted_created_at thread.latest_message
