<div id="shade">
  <i class="far fa-times-circle close"></i>
</div>
<div id="top-menu">
  <a class="unstyled" href="index.html"><%= image_tag("new-ui/cyclescape-icon.png", class: "mobile_logo") %>
    <h1>cyclescape</h1>
  </a>
</div>
<button id="hamburger"><i class="fas fa-fw fa-bars"></i></button>
<nav class="sidebar-nav">
  <div class="title padding">
    <a class="unstyled" href="index.html"><%= image_tag("new-ui/cyclescape-icon.png") %>
      <h1>cyclescape</h1>
    </a>
    <a class="unstyled group" href="group.html">
      <p>York Cycle Campaign</p>
    </a>
  </div>
  <ul class="padding">
    <a href="discussions.html">
      <li><i class="fas fa-fw fa-microphone"></i>Discuss</li>
    </a>
    <a href="browse-topics.html">
      <li class="active"><i class="fas fa-fw fa-hashtag"></i>Browse topics</li>
    </a>
    <hr>
    <a href="ideas.html">
      <li><i class="fas fa-fw fa-map-marker"></i>Ideas</li>
    </a>
    <a href="planning-applications.html">
      <li><i class="fas fa-fw fa-sign"></i>Planning applications</li>
    </a>
    <hr>
    <a href="library.html">
      <li><i class="fas fa-fw fa-book-open"></i>Library</li>
    </a>
    <hr>
  </ul>
  <ul class="padding bottom">
    <li id="group-popover" data-bs-container="body" data-bs-toggle="popover" data-bs-html="true"
                                                                             data-bs-placement="top" data-bs-content="
                                                                             <ul class='popover-group'>
                                                                               <li>York Cycle Campaign</li>
                                                                               <li>Cambridge Cycling Campaign</li>
                                                                             </ul>
                                                                             "><i class="fas fa-fw fa-users"></i>Change group</li>
    <a href="generic-content.html">
      <li><i class="fas fa-fw fa-users-cog"></i>Manage group</li>
    </a>
    <a href="profile.html">
      <li><i class="fas fa-fw fa-id-card-alt"></i>My profile</li>
    </a>
    <a href="help.html">
      <li><i class="fas fa-fw fa-hands-helping"></i>Help & feedback</li>
    </a>
  </ul>
</nav>

<div id="search" class="search">
  <i class="fal fa-fw fa-search"></i>
  <input type="search" name="search" placeholder="Search for anything…" />
</div>
